*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    list-style-position: inside;
}

body{
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.20px;
    font-family: georgia, serif;    
}

body article, body section {
    /*width: 600px;*/
    max-width: 600px;
    margin: 0 auto 21px auto;
}


/* 14px is roughly 11pt = small */

.normalsize {
  font-size: 16px;
  line-height: 15pt;
  line-height: 27px;
}

.large0 {
  font-size: 19px;
  line-height: 33px;
}

h1 {
    font-size: 28px;
    line-height: 48px;
    margin: 84px 0 84px 0;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 32px;
    margin: 48px 0 24px 0;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

h4 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

h5 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

ul, ol, dl, divblock {
    display: block;
    margin: 24px 0;
}

figure, blockquote{
    margin: 18px 0;
}

dd{
    font-style: italic;
}

code {
    font-family: monospace;
}



/* spacing */

dd {
    padding-left: 14px;
}

ul, ol, dl {
    padding-left: 7px;
}

p + p, figure + p {
    text-indent: 18px;
}

/* Tricky this. Supposed to read every first child p within an li */
li p:first-child {
    display: inline;
}


/* figure contents */

/* kill bottom margins so it can be reduced at end */
figure > * {
    margin-bottom: 0;
}

figure > quote, divblock > quote, blockquote {
    display: block;
    margin-left: 42px;
    margin-right: 42px;
}

/* Original is 450px wide. But a rule like this works poorly with 
 * webbook.css, which clamps full widths with fixed px sizes, and
 * lets other css like book.css have it's way with small images.
 * Solution: Assume book/webbbook semantics ('narrow' etc.). Let webbook
 * have it's way on large screens, and centre.
 * For larger images on small screens, on which webbook has no opinion,
 * margin slightly wider than book stock, im mimicry of 450px 
 */
figure > img, divblock > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:450px;
}

@media screen and (max-width: 210mm) {

  figure > img, divblock > img {
    max-height: 100%;
    max-width: 100%;
  }

  figure {
    margin: 0 2.5em;
  }
    
  figure.wide {
    margin: 0;
  }

  figure.narrow {
    margin: 0 6em;
  }
  
  figure.x-narrow, figure.xx-narrow {
    margin: 0 9em;
  }
}

/* Can't use descendant, will have pre */
figure code, divblock code {
    display: block;
    padding: 0 14px;
}

/* code themes */
code.book {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}

code.web {
  background-color: #f5f2f0;
  border-radius: 4px;
}

figcaption {
    text-align:center;
}

.text_right{
    text-align:right;
}

.center{
    text-align: center;
}
