*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    list-style-position: inside;
}

body{
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.20px;
    font-family: georgia, serif;    
}

body article, body section {
    /*width: 600px;*/
    max-width: 600px;
    margin: 0 auto 21px auto;
}

/* An invented element, for block content which is part of textflow.
 * This is an alternative to the figure element. The styling mostly is
 * locked to figure, but paragraphing is different.  
 */
divblock {
    display: block;
}

/* 14px is roughly 11pt = small */

.normalsize {
  font-size: 16px;
  line-height: 15pt;
  line-height: 27px;
}

.large0 {
  font-size: 19px;
  line-height: 33px;
}

h1 {
    font-size: 28px;
    line-height: 48px;
    margin: 84px 0 84px 0;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 32px;
    margin: 48px 0 24px 0;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

h4 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

h5 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

ul, ol, dl {
    display: block;
    margin: 24px 0;
}

blockquote{
    margin: 18px 0;
}

dd{
    font-style: italic;
}

code {
    font-family: monospace;
}



/* spacing */

dd {
    padding-left: 14px;
}

ul, ol, dl {
    padding-left: 7px;
}

p + p, figure + p, blockquote + p  {
    text-indent: 18px;
}

/* Tricky this. Supposed to read every first child p within an li */
li p:first-child {
    display: inline;
}


/* figure contents */

/* kill bottom margins so it can be reduced at end */
figure > * {
    margin-bottom: 0;
}

figure > quote, divblock > quote, blockquote {
    display: block;
    margin-left: 42px;
    margin-right: 42px;
}

/* settings to ensure image fit to block. I hope. */
figure > img, divblock > img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

/* Original is 450px wide. But we want a range of sizes, like book.
 * Also factor in webbook.css, which clamps at wider (full) widths.
 * sizes. 
 * Solution is to copy book,css shape, but start sizes at the narrower
 * size, and taper in shallower.
 */
figure, divblock {
    margin: 18px 5.5em;
}

figure.wide, divblock.wide {
    margin: 18px 0;
}

figure.narrow, divblock.narrow {
    margin: 18px 7.5em;
}

figure.x-narrow, divblock.x-narrow {
    margin: 18px 9.5em;
}

figure.xx-narrow, divblock.xx-narrow {
    margin: 18px 11.5em;
}


/* Can't use descendant, will have pre */
figure code, divblock code {
    display: block;
    padding: 0 14px;
}

/* code themes */
code.book {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}

code.web {
  background-color: #f5f2f0;
  border-radius: 4px;
}

figcaption {
    text-align:center;
}

/* Table */
table {
    /* Can do this because borders not collapsed (but bottom rule is broken) */
    padding-bottom: 4pt;
    margin: 0 auto;
    width: 100%;
}

th:first-child {
    text-align: left;
}
th {
    font-weight: bold;
    padding: 5pt 0.7em 4.5pt;
}

td {
    padding: 0 0.7em;
}  

/* Utility */
.text_right{
    text-align:right;
}

.center{
    text-align: center;
}
