*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    list-style-position: inside;
}

body{
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.20px;
    font-family: georgia, serif;    
}

body article, body section {
    /*width: 600px;*/
    max-width: 600px;
    margin: 0 auto 21px auto;
}


/* 14px is roughly 11pt = small */

.normalsize {
  font-size: 16px;
  line-height: 15pt;
  line-height: 27px;
}

.large0 {
  font-size: 19px;
  line-height: 33px;
}

h1 {
    font-size: 28px;
    line-height: 48px;
    margin: 84px 0 84px 0;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 32px;
    margin: 48px 0 24px 0;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

h4 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

h5 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 35px 0 24px 0;
}

ul, ol, dl, img, blockquote, pre {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
}


dd{
    font-style: italic;
}

code {
    font-family: monospace;
}

blockquote {
    margin-left: 42px;
    margin-right: 42px;
}

figure{
    margin: 18px 0;
}

/* spacing */

p + p, figure + p {
    text-indent: 18px;
}

dd, code {
    padding-left: 14px;
}

ul, ol, dl {
    padding-left: 7px;
}

/* Tricky this. Supposed to read every first child p within an li */
li p:first-child {
    display: inline;
}


/* figure contents */

/* kill bottom margins so it can be reduced at end */
figure * {
    margin-bottom: 0;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:450px;
}

figure code {
    display: block;
}

/* code themes */
code.book {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}

code.web {
  background-color: #f5f2f0;
}

figcaption {
    text-align:center;
}



.text_right{
    text-align:right;
}

.center{
    text-align: center;
}
