*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/*
  DIN A4 standard paper size 
  width: 210mm;
  height: 297mm; 

*/
/*
  DIN A4 printable space approx. 
  For display margin-: 5mm 5mm 5mm 10mm; 
  x-10mm  y -15mm; 
  width: 200mm;
  height: 282mm; 

*/

/* margin: 2cm;*/
@media screen {
    body > article, body > section {
	width: 160mm;
	/* height: 242mm; */

	margin: 0 auto 21px auto;
    }
}

@media print {
    body > article, body > section {
	width: 170mm;
    /*  height: 257mm; */

    }
}

/* basic text size */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Open Sans Light",Arial,Helvetica,sans-serif;

}


body{
    font-size: 14px;  
    line-height: 28px; 
    font-weight: normal;
    color: #484848;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;

}



/* Top title */
h1 {
    font-size: 30px;
    font-size: 2em;
    margin: 0.67em 0;
}


/* Part */
h2 {
    font-size: 26px;
    margin-top: 36px;
}





/* chapter */
/*  was h1 doc content */
h3 {
    border-top: 1px dotted #c1c5c8;
    font-size: 26px;
    margin-top: 36px;
    padding-top: 36px;

}





/* section */
/*  was h? */
h4 {
    font-size: 19px;
    margin: 21px 0 8px;
}



/* subsect */
/*  was h3 */
h5 {
    font-size: 16px;
    margin: 21px 0 8px;
}


/* para */
h6 {
    font-size: 14px;
    margin: 21px 0 8px;
}



pre {
    display: block;
}

code {
    font-family: monospace;
}



/* Paragraphs */

/** except chapter or section heading? */
p {
    margin-top: 1em;
    margin-bottom: 1em;
}




/* Boxouts */

/* wide boxing */
div.note, div.warning, div.tip {
    margin: 20px 0;
    padding: 20px 30px;
}

div.note {
    background-color: #eef2f5;
    border: 1px solid #e4ebee;
}

div.warning {
    background-color:#ffe;
    border: 1px solid #fffbe7;
}

div.tip {
    background-color: #f1edf5;
    border: 1px solid #ebe4ee;
}

/* narrow boxing */
div.boxout {
    padding: 2pt 2em;
    margin: 4pt 3em;
}

div.note::before {
    content: "Note:";
    font-weight: bolder;
}

div.warning::before {
    content: "Warning:";
    font-weight: bolder;
}

div.tip::before {
    content: "Tip:";
    font-weight: bolder;
}

/* create run-in */
div.note > p:first-child, div.warning > p:first-child, div.tip > p:first-child {
    display: inline;
}



/* figure contents, blockquote, same padding */
figure > div {
    padding: 6pt 2em;
}



/* blockquote */

/* P126 */
blockquote {
    margin: 20px 30px;
}


/* spacing */
/*
  blockquote, pre, ul, ol, dl {
  margin-top: 12pt;
  }
  */



/* Lists */

/* P145 P182 p212 for examples */
ul, ol, dl {
    margin: 0 0 1em 40px;
    padding: 0;
}


li {
    margin: 6px 0;
    padding: 0;
}
/* List within list item... */
ul ul, ul ol, ul dl,ol ul,ol ol,ol dl, dl ul, dl ol, dl dl  {
    list-style-type: circle;
    margin: 0 0 0 6px;
}

/* List within list item... */
ul li ol, ol li ol, dl li ol, ul li ul, ol li ul, dl li ul, ul li dl, ol li dl, dl li dl{
    list-style-type: square;
}

/* should be runin, but non-Mozilla. float will work with similar text heights P133 */
dd{
    float: left;
    font-weight: bold;
    margin-right: 0.5em;
}


/* images */
img {
    padding: 5px 0;
    vertical-align: middle;
    margin: 0;
    max-width: 80%;
}




/* Footers */

article > footer {
    margin-top: 30pt;
    border-top: silver solid 4px;
}

footer > .person {
    text-align: center;
    margin-top: 4pt;
}

footer > .organisation {
    margin-top: 10pt;
}

footer > .organisation > .logo {
    margin: 0 10pt;
    float: left;
}

footer > .organisation > h2 {
    text-transform: uppercase;
    font-size: 17pt;
    font-weight: bold;
    margin: 0 10pt;
    padding: 0;
    float: left;
}

footer > .organisation > address {
    font-size: 10pt;
    font-style: normal;
    margin: 0 10pt;
    float: right;
}

footer > .doc-data {
    font-size: 10pt;
    margin-top: 10pt;
    clear: both;
}

footer > .doc-data > .copyright {
    margin: 0 10pt;
    float: left;
}

footer > .doc-data > date {
    margin: 0 10pt;
    float: right;
}

footer > .doc-data > .reference {
    text-transform: uppercase;
    float: right;
}
