

/* Restate fancier palatino font */
body{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}

/* Grandpa's sweets */


h1, h2, h3, h4 {
text-align: center;
}

h2, h4, h6 {
font-weight: normal; 
}
   
.book, h1 {
font-size: 60pt;
line-height: 72pt;
letter-spacing: -0.4rem;
margin-top: 96pt;
margin-bottom: 0;
font-weight:500;
}

.part, h2 {
font-size: 25pt;
line-height: 48pt;
letter-spacing:0.15rem;
text-transform: uppercase;
margin-top: 24pt;
}

.gps-chpt, h3 {
font-weight: bold;
font-size:20pt;
line-height: 30pt;
text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
color: white;
padding: 0 0.4rem;
background: red;
background: -webkit-linear-gradient(red, #ff8080); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(red, #ff8080); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(red, #ff8080); /* For Firefox 3.6 to 15 */
background: linear-gradient(red, #ff8080);
border: 0.4rem solid crimson;
margin: 0 auto;
}

@media screen {
  .gps-chpt, h3 { 
	  margin-top: 120pt;
  }
}

@media print {
  .gps-chpt, h3 { 
	  margin-top: 50pt;
  }
}

.gps-sctn, h4 {
font-size:18pt;
font-style: italic;
letter-spacing:0.12rem;
line-height: 25pt;
margin-top: 24pt;
}


.gps-subsctn, h5 {
font-weight: 600;
letter-spacing:0.07rem;
text-transform: lowercase;
margin-top: 14pt;
}

.gps-subsubsctn, h6 {
font-style: italic;
text-transform: lowercase;
margin-top: 8pt;
}

img {
border: 3pt solid #000000;
}

a {
display: inline-block;
font-size:20pt;
text-decoration:none;
text-transform: uppercase;
border-radius: 8pt;
color:#ffffff;
background-color:#000000;
padding:2pt 0.5em;
margin-top:8pt;
}
