
/* Killer */
#site-nav * {
    padding: 0;
    margin: 0;
    }

/* Navbar 
 * If the font size changes:
 * 
 * line height = line-height*2
 * nav-bottom-margin= line-height/2
 * a.padding = line-height+2
 * 
 * Changing the size is probably not ok. Change shape or weight
 * if you must.
 *  
 * width alterntives:
 * screen-width (all commented)
 * full-width
 * block-width
 *
 * border alternatives:
 * ruled style (usually poetry/imaginative essays) 
 * plain style - comment out border and text decoration reset.
 * 
 * Other styles: use bullets not rules. Orange background (see below)
 * Rule and underscore on same style is overkill.
 */

#site-nav {
    box-sizing: border-box;
    font-family: Lora, Georgia, serif;
    font-size: 12pt;  
    line-height: 36pt;
    font-weight:normal;
    text-align: center;
    color: #333;

    margin: 0 auto 12pt auto;
    /* Alternative:  more generous width */
	/*width: 210mm;*/
    width: 130mm;
    /* Alternative: comment and use bullets */
    border-bottom: black solid 1px;
}




/* Alternative, use colored background. Replaces a rule. */
/*
#site-nav li {   
   background-color: orange;
   }
*/
   
#site-nav ul a {
    padding: 14px 1em;
    text-decoration: none;
    /* will not necessarily be inherited, needs forcing */
    color: #222;
}

#site-nav ul a:hover {
    color: #b85051;
}

/* for printing, hide navbars */
@media print {
#site-nav {
    display: none;
    }
}



/* Greater than a desktop/tablet, display the menu inline */
@media screen and (min-width: 480px) {

/* inline site-nav */
#site-nav li {
    display: inline-block;
    }
}

    
/* Less than a desktop/tablet, stack the menu */
@media screen and (max-width: 480px) {
/* stack site-nav */
/* site nav needs some padding/margin killing for vertical stacking */

#site-nav {
    width: auto;
    margin: 0 0 12pt 0;
    }

#site-nav li {
    display: block;
    }
    
#site-nav ul a {
    padding:14px 0;
    display: block;
    }
}
