/* Navbar 
 * If the font size changes:
 * 
 * line height = line-height*2
 * nav-bottom-margin= line-height/2
 * a.padding = line-height+2
 * 
 * Changing the size is probably not ok. Change shape or weight
 * if you must.
 *  
 * width alterntives:
 * screen-width (all commented)
 * full-width
 * block-width
 *
 * border alternatives:
 * ruled style (usually poetry/imaginative essays) 
 * plain style - comment out border and text decoration reset.
 * 
 * Other styles: use bullets not rules. Orange background (see above)
 * Rule and underscore is probably overkill.
 */
#site-nav {
    font-size: 12pt;  
    line-height: 36pt;
    margin: 0 auto 12pt auto;
	/*width: 210mm;*/
    width: 130mm;
    border-bottom: black solid 1px;
}

#site-nav ul a {
    padding: 14px 1em;
    text-decoration: none;
}

#site-nav ul a:hover {
 color: #b85051;
}



/* Media queries */
/* since some of these rules modify the navbar to become responsive, 
* they are positioned after navbar code.
*/

@media screen {

/* Palatino can look horrible on the web. 
 * Switch to something more generic 
 */
body{
    font-family: Lora, Georgia, serif;
    line-height: 20pt;
    color: #333;
}

h1, h2, h3, h4, h5, h6, dd, a {
color: #222;
}

/* Get first headline in body
 * then crush.
 *  
 * was 60pt, 96pt, 120pt default 
 */
h1:first-child, h2:first-child, h3:first-child {
margin-top: 17pt;
}

 /* 
  * was (h1 = 14pt,) 30pt, 40pt default 
 */
h2:first-child{
margin-top: 25pt;
margin-bottom: 17pt;
}
h3:first-child {
margin-top: 33pt;
margin-bottom: 19pt;
}

/* Medieval centred, widened for generic fonts
 * NB: Padding for stock on top of a webpage is irritating.
 * But removing stock for the header doesn't make for a
 * conventional navbar, so 6pt. Bottom space to space under default
 * Chapter headlines, 40pt.
 */
body > article, body > section {
	padding: 6pt 30mm 40pt 30mm;
    }
}



/* Responsive design */

/* Whatever the width... */
/* typographical margins need removing for navbar placement */
#site-nav ul {
    margin: 0;
    }
    



/* Greater than a desktop/tablet, display the menu inline */
@media screen and (min-width: 480px) {

/* inline site-nav */
#site-nav li {
/* background-color: orange; */
    display: inline-block;
    }
}

/* Less than the locked width, make the page flexible */
@media screen and (max-width: 800px) {
    body > article, body > section {
    width: 100%;
	/* border:  1px solid red; */
    }
}
    
/* Less than 40 chars per line (or so), crush stock padding */
@media screen and (max-width: 600px) {
/*
 * NB: At smaller sizes, padding for stock on base becomes irritating.
 * 120pt is the space above sections, the widest used
 */
    body > article, body > section {
	padding: 0 4mm 48pt 4mm;
    }
}
    
/* Less than a desktop/tablet, stack the menu */
@media screen and (max-width: 480px) {
/* stack site-nav */
/* site nav needs some padding/margin killing for vertical stacking */

#site-nav {
    width: auto;
    margin: 0 0 12pt 0;
    }

#site-nav li {
    display: block;
    }
    
#site-nav ul a {
    padding:14px 0;
    display: block;
    }
}


/* High res screens */
/* assuming a small screen, which should hold for a while? 
 * The below is generic. Apples retina screens are more dense.
 */
 /* @media (webkit-min-device-pixel-ratio: 2), (min-resoltion:192dpi) {
 */
@media (webkit-min-device-pixel-ratio: 1.25), (min-resoltion:120dpi) {
/* flex width and crush stock padding, same as stock-intrusive widths */
    body > article, body > section {
    width: 100%;
	padding: 0 4mm 48pt 4mm;
    }
}


/* for printing, hide navbars */
@media print {
#site-nav {
    display: none;
    }
}





/* Table Of Contents */

/* An adjustment of wide to generate evenly spaced anchor targets */
.toc > ul.wide  a {
    padding-top: 6pt;
    padding-bottom: 6pt;
}

/* I'm not fond of hover effects, but this is expressive and consistent */
.toc a:hover {
    font-style: italic;
}

/* Complete W3 recommented style (in Firefox, underlines
 *  are lost with display inline-block?)
 */
/*
.toc a span {
        text-decoration: underline;
}
*/




/* Used with both styles below.
 * Choose one of two alternative link colors 
 */
.toc a {
    /* dash of gray-green and blacker */
    /* color: 10307a; */
    /* blacker */
    /* color: 000060; */
        text-decoration: none;
}

/* bullet-symbol decoration
 * The space is needed as styling is impossible through CSS.
 * Alternatives:
 * typographical section mark
 * scribe mark 
 * math 'z' total 
 */
.toc > ul {
    list-style-position:inside;
    /* list-style-type: '\A7\20'; */
   /* list-style-type: '\205C\20'; */
    list-style-type: '\2192\20';
}


/* Inside-line decoration */
/*
.toc > ul {
    padding-left: 0.65em;
    list-style-position:inside;
    border-left: black solid 1px;
}
*/

/* Ellipsis decoration
 * Must have 'span' class=title wrap
 * Alternatives:
 * ellipsis approximation
 * unicode ellipsis
 * typographical leader
 */
/*
.toc > ul .title:after{
    content:'...'; 
    content:'\2026'; 
    content:'\2025';
}
*/

