
/* Media queries */
/* since some of these rules modify the navbar to become responsive, 
* they are positioned after navbar code.
*/

@media screen {
/* For now, IE. For the future, everyone else */
@viewport{
  width: device-width;
  zoom: 1.0;
}

/* Palatino can look horrible on the web. 
 * Switch to something more generic.
 * Take the edge off black.
 */
body{
    font-family: Lora, Georgia, serif;
    color: #333;
}

/* Take the edge off black. Perhaps a little more authentic? */
h1, h2, h3, h4, h5, h6, dd, a {
    color: #222;
}

/* Medieval centred, widened for generic fonts
 * NB: Padding for typeblock on top of a webpage is irritating.
 * Also, the navbar, usually placed in the stock padding of paper, must
 * fit in the typeblock (unless we use negative placed absolutes, but we
 * do not). So 6pt.
 */
body > article, body > section {
	padding-top: 6pt; 
    }
}



/* Responsive design */

/* Less than the locked page width.
 *  Make the page flexible 
 * Pad left/right.
 */
@media screen and (max-width: 210mm) {
  body > article, body > section {
    width:100%;
	  padding-left: 2em;
	  padding-right: 2em;
	  /* border: 1px solid red; */
  }
}
    
/* Less than 40 chars per line (or so), crush all stock padding */
@media screen and (max-width: 600px) {
/*
 * NB: At smaller sizes, padding for typeblock becomes irritating.
 */
  body > article, body > section {
    padding-top: 0;
    padding-bottom:48pt;
  }
}

/* High res screens */
/* assuming a small screen, which should hold for a while? 
 * The below is generic. Apple's retina screens are more dense.
 */
/* work at lower res */
 /* @media (webkit-min-device-pixel-ratio: 2), (min-resolution:192dpi) {*/
@media (webkit-min-device-pixel-ratio: 1.25), (min-resolution:120dpi) {
/* flex width and crush stock padding, same as stock-intrusive widths */
  body > article, body > section {
    width: 100%;
	  padding-left: 2em;
	  padding-right: 2em;
  }
}



/* Everything else should work as expected, except TOC... */

/* Table Of Contents */

/* An adjustment of wide to widen anchor targets */
.toc > .wide a {
    padding-top: 6pt;
    padding-bottom: 6pt;
}



/* TOC themes */

/* Bullet-symbol theme */
 /* The space is needed as styling is impossible through CSS.
 * Alternatives:
 * scribe mark 
 * math 'z' total 
 */
.toc-bullet .toc-list {
    list-style-position:inside;
    /* choose a bullet */
    /* SECTION SIGN */
    /* list-style-type: '\A7\20'; */
    /* DOTTED CROSS */
    /* list-style-type: '\205C\20'; */
    /* pointer */
    list-style-type: '\2192\20'; 
}

/* I'm not fond of hover effects, but this is expressive and consistent */
.toc-bullet a:hover {
    font-style: italic;
}

.toc-bullet a {
    text-decoration: none;
}


/* W3-similar theme */
/* in Firefox, underlines
 *  are lost with non-text anchor contents)
 */
.toc-w3 a span {
    text-decoration: underline;
}

.toc-w3 a {
    /* choose link color */
    /* black gray-green */
    /* color: #10307a; */ 
    /* black-blue */
    color: #000060;
}


/* Inside-line theme */
.toc-groove a {
    text-decoration: none;
}

.toc-groove .toc-list {
    padding-left: 0.65em;
    list-style-position:inside;
    border-left: black solid 1px;
}

.toc-groove .title:after{
    /* choose ellipsis decoration */
    /* triple dot */
    content:'\2026'; 
    /* double dot */
    /* content:'\2025'; */
}


