

/*
 * The book variant handles everything as default.
 * However, it adds a menu, and set of themes.
 */
/* TODO: What about breadcrumb? */

/* menu */

/* theme common */
.menu-anchor, 
.menu-anchor-open,
.submenu-anchor,
.submenu-anchor-open {
 /* L/R padding is ok
  */
  padding-top: 0.667rem;
  padding-bottom: 0.667rem;  
  text-decoration: none;
  color: #000;
}

/* Centred narrow menu */
/*
 * A centred vertical menu is possible.
 * It looks poor widescreen, but is very nice narrowscreen.
 * Thart said, it only works with limited title sizes and few items.
 * What it needs, though, is some differentiation for 
 * submenu collections. A hefty left pad fixes that.
 */
/*
.menu-ruled.toolbar, 
.menu-colorbox.toolbar,
.menu-w3.toolbar,
.menu-selector
{
  text-align: center;
}

.toolbar-submenu {
  padding-left: calc(3 * var(--parindent));
}
*/

@media screen and (min-width: 77rem) {

/* for Centered narrow menus, comment */
.menu-ruled.toolbar, 
.menu-colorbox.toolbar,
.menu-w3.toolbar,
.menu-selector
{
    text-align: center;
}

/* Centred narrow menu */
/*
  .toolbar-submenu {
    padding-left: 0;
  }
*/
}




/* menu themes */

/* ruled */
/* Usually used for creative/artistic work */
.menu-ruled.toolbar {
  border-bottom: black solid 1px;
}

.menu-ruled .menu-anchor:hover, 
.menu-ruled .menu-anchor-open:hover, 
.menu-ruled .submenu-anchor:hover, 
.menu-ruled .submenu-anchor-open:hover {
  /* purple red */
  color: #b85051;
}

/* Coloured boxes */
/* forceful, maybe for site navigation */
.menu-colorbox .menu-anchor,
.menu-colorbox .menu-anchor-open,
.menu-colorbox .submenu-anchor,
.menu-colorbox .submenu-anchor-open {
  /* Light, slightly muddy beige */
  background-color: #f0ebd8;
  /* orange */   
   background-color: orange;
}

/*  Underlined */
/* classic web shape, but subtle */
.menu-w3 .menu-anchor,
.menu-w3 .menu-anchor-open,
.menu-w3 .submenu-anchor,
.menu-w3 .submenu-anchor-open {
  text-decoration: underline;
}

.menu-w3 .menu-anchor:hover, 
.menu-w3 .menu-anchor-open:hover, 
.menu-w3 .submenu-anchor:hover, 
.menu-w3 .submenu-anchor-open:hover 
{
  /* purple red */
  color: #b85051;
}

/* no decoration, hover underline */
/* With no decoration, this theme is not intended to be used without 
 * support. The idea is, further HTML/CSS will provide styling for 
 * selected anchors/buttons. Whenever visible, like radio buttons, the
 * navbar will always have at least one anchor/button selected. Thus, 
 * clearly indicated as an anchor.
 */
.menu-selector .menu-anchor:hover, 
.menu-selector .menu-anchor-open:hover, 
.menu-selector .submenu-anchor:hover, 
.menu-selector .submenu-anchor-open:hover {
  text-decoration: underline;

  /* purple red */
  color: #b85051;
}






