html {
  --base-fontsize:12pt;
}

/*
 * Basic font size
 * 
 */
/* book uses the mormal base font size of typography 12pt (similar to  
 * web convention 16px==12pt. I'd say too small, for the web, but 
 * appropriate for book purpose, and this CSS has hi-res fixes) 
 */
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-size:12pt;
    line-height: 1.21;
}

@media
  only screen and (min-height: 640px) {
  /* mid-res screen */
	body {
		font-size:14pt;
        line-height: 1.25;
	}
}

@media
  only screen and (min-height: 900px) {
  /* hi-res screen */
	body {
		font-size:18pt;
        line-height: 1.31;
	}
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2) {
  /* retina screen */
	body {
		font-size:14pt;
	}
}

/* margins */    
/* Book has a margin theme closer to book markings (for menus, etc.)*/
.margins-fluid {
    max-width: 210mm;
    margin: 0 auto;
}

/* Need resetting to make normal reasonably wide */
.margins-narrower {
    padding: 1em 7rem;
}

.margins-narrow {
    padding: 1em 8rem;
}

.margins-normal {
    padding: 1em 9rem;
}

.margins-wide {
    padding: 1em 10rem;
}

.margins-wider{
    padding: 1em 11rem;
}






.menu-horizontal-responsive{
  text-align: center;
  border-bottom: black solid 1px;
}

/* if wider than paper */
@media screen and (min-width: 210mm) {

  .layout-horizontal-top > * {
    display: inline-block;
    vertical-align: top;
    }
    
  .layout-horizontal-middle > *,
  .menu-horizontal-responsive > * {
    display: inline-block;
    vertical-align: middle;
  }

  .menu-horizontal-responsive a {
    padding: 1rem;
    cursor: pointer;
  }
}

/* if narrower than paper */
@media screen and (max-width: 210mm) {
   /* Margin spacing on vertical stacking, becuse they shrink birders to 
   * make even spacing
   */
  .menu-horizontal-responsive * {
    display: block;
  }
  
  .menu-horizontal-responsive li {
    border-bottom: black solid 1px;
  }

  .menu-horizontal-responsive a {
    width: 100%;
    text-align: center;
    padding:1em 3rem;
    border-top: black solid 1px;
  }


  .under-paper-width-remove {
    display: none;
  }
}
