* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}


html {
  --base-fontsize:12pt;
  
  /* On the web, exaggerated values are often used, 
   *
   * 1.75
   * More for display than readability e.g. teasers
   * 
   * 1.7 
   * Good for readability if you have no idea about text widths
   * 
   * 1.6 Wikipedia 
   * Some justifucation for this, especially for long lines, or big 
   * blocks of text. 
   * 
   * 1.5 email display
   * A common sort of width for computer presentation
   * 
   * 1.4
   * Not bad balance between typography and the flex of the web.
   * 
   * 1.3 Gov.uk
   * Sensible choice for sober text
   * 
   * 1.25rem
   * Common, but will lock all font sizes to one height, so not 
   * advisable? REMs are slightly bigger than a ratio.
   * 
   *  1.21 Memoir 12pt
   * For print, much narrower.
   */
  --base-lineheight:1.21;
  
  /* On the web, 2em also looks good */
  --parindent: 1.5em;
  
  /* Depends on point options.  onelineskip is the vertical space take 
   * by a normal line of text i.e. base-lineheight, here multiplied to 
   * deliver usable (point) units */
  --onelineskip: calc(var(--base-fontsize) * var(--base-lineheight));
  /*
   * \baselineskip is a likme measure, but is relative to a pararaph's
   * font, so can change in size. I'm ignoring it... unless it goes 
   * wrong... 
   */
   --breakwidth:74rem;
}

/* Simple print rules:
 * - h2, h3 break before
 * - Avoid break after titles
 * - Avoid break in figures, tables, or lists
 */
body {
    page-break-before: always;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

table, figure, spanblock, ol, ul, dl {
    page-break-after: avoid;
    page-break-inside: avoid;
}

article > footer, section > footer {
    page-break-inside: avoid;
}



/* Paper sizes */
.paper-stock {
    display: block;
}

.paper-web {
    max-width: 77rem;
    margin: 0 auto;
}

.paper-a4 {
    max-width: 210mm;
    margin: 0 auto;
}

.paper-column {
    max-width: 44rem;
    margin: 0 auto;
}



/* layouts */

.layout-responsive-horizontal-top > * {
    display: inline-block;
    vertical-align: top;
}

.layout-responsive-horizontal-middle > * {
    display: inline-block;
    vertical-align: middle;
}

.layout-vertical-middle > * {
  margin: auto;
}






/*
.print-fixed-margin-mdvl {
    padding: 6rem 6rem 9rem 6rem;
}

.print-fixed-margin-iso {
    padding: 6rem 6rem 12rem 6rem;
}
*/

/* TOCONSIDER */
/* containers */
.container-fixed-margin-vertical {
    padding: 8rem 0;
} 

.container-fluid-margin-horizontal {
    max-width: 74rem;
    margin: 0 auto;
}

    /* TOREMOVE */
/* if wider than paper, horizontal layouts horizontal */
/*
 @media screen and (min-width: 77rem) {
	.sidecol {
		width: 18rem;
		min-height: 1px;
		margin-top: 10rem;
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}
*/

/* if narrower than paper */
@media screen and (max-width: 77rem) {

    .book-layout-horizontal-top > *,
    .book-layout-horizontal-middle > * {
        width: 100%;
    }  
}

/********************
 * Common
********************/

/* Basics
 * Primo for overriding.
*/

body {
	font-family: "Volhorm", Palatino, Georgia, serif;
	background-color: lightgrey;
    
    /* fallback for non-custom property browsers */
    font-size:12pt;
    line-height: 1.45;
}

/* Font Sizing */
/* 12pt Scaling */
html {

/* line-height depends on the font-size, the font family, maybe even 
 * line-length. Suggestions from Memoir, shelving to 12pt and bulging 
 * at 18pt.
 * Webbook doesn't deal much with line heights, preferring if necessary 
 * to set a value overall. The divisions are fine, will be lost on the 
 * web, and will add much complexity. 
*/
  --lh-11pt: 1.24;
  --lh-12pt: 1.21;
  --lh-14pt: 1.25;
  --lh-17pt: 1.29;
  --lh-20pt: 1.25;
  --lh-25pt: 1.20;
  --lh-30pt: 1.23;
  --lh-36pt: 1.25;
  --lh-48pt: 1.25;
  --lh-30pt: 1.20;

 
/* 12pt Scaling (can use REMS against 12pt base) */

 /* 30pt */
 --x-huge:2.5rem;
 /* 25pt */
 --huge:2.083rem;
 /* 20pt */
 --xx-large:1.667rem;
 /* 17pt */
 --x-large:1.417rem;
 /* 14pt */
 --large:1.167rem;
 /* 12pt */
 --normal: 1rem;
 /* 11pt */
 --small:0.917rem;
 /* 10pt */
 --x-small:0.833rem;
 /* 8pt */
 --xx-small:0.667rem;
 /* 6pt */
 --tiny:0.5rem;


/* 14pt REM Scaling (can use REMS against 14pt base) */
/*
 /* 30pt */
 --x-huge: 2.143rem;
 /* 25pt */
 --huge: 1.786rem;
 /* 20pt */
 xx-large: 1.429rem;
 /* 17pt */
 --large: 1.214rem;
 /* 14pt */ 
 --normal:1rem;
 /* 12pt */
 --small: 0.857rem;
 /* 11pt */
 x-small: 0.786rem;
 /* 10pt */
 --xx-small: 0.714rem;
 /* 9pt */
 --tiny: 0.643rem;
*/

/* 17pt REM Scaling (can use REMS against 17pt base) */
/*
 /* 36pt */
 --x-huge: 2.118rem;
 /* 30pt */
 --huge: 1.765rem;
 /* 25pt */
 xx-large: 1.471rem;
 /* 20pt */
 --large: 1.176rem;
 /* 17pt */ 
 --normal:1rem;
 /* 14pt */
 --small: 0.824rem;
 /* 12pt */
 x-small: 0.706rem;
 /* 11pt */
 --xx-small: 0.647rem;
 /* 10pt */
 --tiny: 0.588rem;
*/
/*
 * SOS
 * 28/14 3.554
 * 24/14 3.034
 * CM
 * 35/16 3.880
 * 24/16 2.666 bo;d 400
 * 16/16 centre bg
 * HG
 * 50/18 4.936
 * 36/18 3.692
 * line height is 18/30
 */ 
}


.tiny {
  font-size: var( --tiny);
}
 
.xx-small {
  font-size: var( --xx-small);
}
    
.x-small {
  font-size: var( --x-small);
}
    
.small {
  font-size: var( --small);
}
 
.normal {
  font-size: var( --normal);
}

.large {
  font-size: var( --large);
}

.x-large {
  font-size: var( --x-large);
}

.xx-large {
  font-size: var( --xx-large);
}

.huge {
  font-size: var( --huge);
}

.x-huge {
  font-size: var( --x-huge);
}


/* Chapterstyles */
/* bianchi, bringhurst, brotherton, chappel, culver, dash, 
 * demo2, ell, Ger,lyhne, madsen, pedersen, southall, 
 * thatcher, veelo, verville, demo3 */

/* midchapskip only used for inserting vertical numbering. 
 * Ignoring nubering */
html {
--beforeskip: 50pt;
--midchapskip: 20pt;
--afterskip: 40pt;
}

/* default */
h1 {
  font-size: var( --x-huge);
  font-weight: bold;
  margin: var(--beforeskip) 0 var(--afterskip);
}

/* The basic styles are default, section, hangnum, companion, article, 
 * reparticle */
/* The basic styles are mainly concerned with numeric positioning. 
 * However, companion is right-aligned, and article is smaller */

.companion {
  text-align: right;
}

.article {
  --beforeskip: 3.5ex;
  --afterskip:2.3ex;
  font-size: var( --x-large);
  margin: var(--beforeskip) 0 var(--afterskip);
}
 
/* chapterhead styles */
/* 
 * bianchi, bringhurst, crosshead, default, dowding, komalike, memman, 
 * niglike, tandh, and wilsondob
 * 
 * A few missing. brotherton too simple, thatcher too complex, others 
 * use graphics packages.
 */
.bianchi {
  font-family: sans;
  text-align: center;
  padding-top:var(--onelineskip);
  border-top: solid black 1px;
  padding-bottom: var(--onelineskip);
  border-bottom: solid black 1px;
}

.bringhurst {
  font-size: var( --x-large);
  text-transform: lowercase;
  font-weight: normal;
  font-variant: small-caps;
  padding-bottom: var(--onelineskip);
  border-bottom: solid black 1px;
  margin-bottom: var(--onelineskip);
}

.chappell {
  font-size: var( --x-large);
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding-top: var(--onelineskip);
  border-top: solid black 1px;
}

/* Biblical style */
/* Our usage= article, centred */
.culver {
  --beforeskip: 3.5ex;
  --afterskip:2.3ex;
  font-size: var( --x-large);
  text-align: center;
  margin: var(--beforeskip) 0 var(--afterskip);
}

.crosshead {
  --beforeskip: calc(2 * var(--onelineskip));
  --afterskip: calc(2 * var(--onelineskip));
  font-size: var( --xx-large);
  text-align: center;  
  margin: var(--beforeskip) 0 var(--afterskip);
}

/* Too hard for now */
.dash {}

/* As used in the maual*/
.demo3 {
  --beforeskip: 0;
  --afterskip: calc(2 * var(--onelineskip));
  font-family:sans;
  font-weight: normal;
  text-align: right;
  padding-top: var(--onelineskip);
  border-top: solid black 1px;
  padding-bottom:  var(--onelineskip);
  border-bottom: solid black 1px;  
  margin: var(--beforeskip) 0 var(--afterskip);
}

.dowding {
  --beforeskip: calc(2 * var(--onelineskip));
  --afterskip: calc(1.5 * var(--onelineskip));
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: var(--beforeskip) 0 var(--afterskip);
}


.komalike {
  --beforeskip: calc(2 * var(--onelineskip));
  --afterskip: calc(1.5 * var(--onelineskip));
  font-family: sans;
  font-size: var( --xx-large);
  margin: var(--beforeskip) 0 var(--afterskip);
}

/* Cambridge book, or close */
/* Roman family=nonsense. Uses baselineskip? */
/* Currently bad */
.southall {
  --beforeskip: 36pt;
  --afterskip: calc(5 * var(--onelineskip));
  font-weight: normal;
  padding-bottom:var(--onelineskip);
  border-bottom: solid black 1px;  
  margin: var(--beforeskip) 0 var(--afterskip);
}

.tandh {
  --beforeskip: var(--onelineskip);
  --afterskip: calc(2 * var(--onelineskip));
  margin: var(--beforeskip) 0 var(--afterskip);  
}

/* TODO */
.thatcher {
  font-weight: normal;
  font-size: var( --large);
  text-transform: uppercase;
  text-align: center;
}
 


.ntglike {
  --beforeskip: 50pt;
  font-size: var( --x-large);
  margin-top: var(--beforeskip);
}

.wilsondob {
  --beforeskip: calc(2 * var(--onelineskip));
  --afterskip: calc(4 * var(--onelineskip));
  font-weight: normal;
  font-style: italic;
  text-align: right;
  margin: var(--beforeskip) 0 var(--afterskip);  
}


/* heading sets */
/*
h1 chapter \chaptitlefont
h2 section \secheadstyle
h3 subsection \subsecheadstyle
h4 subsubsection \subsubsecheadstyle
h5 para \paraheadstyle
h6 subpara \subparaheadstyle
*/
/* default */
/* indent text following h6, as the title is usually a repeat of h5 */
h6 + p {
  text-indent: var(--parindent)
}



h2 {
  font-size: var( --x-large);
  margin: 3.5ex 0 2.3ex;
}

h3 {
  font-size: var( --large);
  margin: 3.25ex 0 1.5ex;
}

h4 {
  font-size: var( --normal);
  margin: 3.25ex 0 1.5ex;
}

h5 {
  font-size: var( --normal);
  margin: 3.25ex 0 1em;

}

h6 {
  font-size: var( --normal);
  margin: 3.25ex 0 1em;
}

/* memman */
/*
h2{
  font-weight: normal;
  font-variant: small-caps;
  margin: calc(1.333 * var(--onelineskip)) 0 calc(0.667 * var(--onelineskip));
}

h3 {
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));
}

h4 {
  font-weight: normal;
  font-style: italic;
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));
}

h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}

h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h5::after, h6::after {
  content: ".";
}
*/

/* Bringhurst */
/*
h2 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--onelineskip) 0  var(--onelineskip);
}

h3 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0  var(--onelineskip);
}

h4 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--onelineskip) 0  1em;
}

h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0  1em;
}

h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0  1em;
}

h5::after, h6::after {
  content: ".";
}
*/

/* crosshead */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: calc(1.25 * var(--onelineskip)) 0 calc(0.75 * var(--onelineskip));
}
h3 {
  text-align: center;
  margin: calc(1.25 * var(--onelineskip)) 0 calc(0.75 * var(--onelineskip));
}
h4 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));
}
h5 {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));
}
h6 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--onelineskip) 0 1em;
}
*/

/* dowding */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: calc(2 * var(--onelineskip)) 0 var(--onelineskip);
}
h3 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
  margin: calc(1.2 * var(--onelineskip)) 0 calc(0.8 * var(--onelineskip));
}
h4 {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));
}
h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h5::after, h6::after {
  content: ".";
}
*/

/* komalike */
/*
h2 {
  font-family: sans;
  font-size: var( --x-large);
  margin: 3.5ex 0 2.3ex;
}
h3 {
  font-family: sans;
  font-size: var( --large);
  margin: 3.5ex 0 2.3ex;
}
h4 {
  font-family: sans;
  margin: 3.25ex 0 1.5em;
}
h5 {
  font-family: sans;
  margin: 3.25ex 0 1em;
}
h6 {
  font-family: sans;
  margin: 3.25ex 0 1em;
}
*/

/* ntglike */
/*
h2 {
  font-size: var( --large);
  margin: calc(2 * var(--onelineskip)) 0 calc(0.5 * var(--onelineskip));
}
h3 {
  font-size: var( --normal);
  margin: var(--onelineskip) 0 calc(0.01 * var(--onelineskip));
}
h4 {
  font-weight: normal;
  font-style: oblique;
  margin: var(--onelineskip) 0 calc(0.5 * var(--onelineskip));
}
h5 {
  font-weight: normal;
  font-style: oblique;
  margin: 3.25ex 0 1em;
}
h6 {
  font-weight: normal;
  font-style: oblique;
  margin: 3.25ex 0 1em;
}
*/

/* tandh */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: calc(2 * var(--onelineskip)) 0 var(--onelineskip);
}
h3 {
  font-size: var( --x-large);
  font-weight: normal;
  font-style: italic;
  margin: calc(1.2 * var(--onelineskip)) 0 calc(0.8 * var(--onelineskip));
}
h4 {
  font-size: var( --normal);
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));
}
h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h5::after, h6::after {
  content: ".";
}
*/

/* wilsondob */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: calc(1.333 * var(--onelineskip)) 0 calc(0.667 * var(--onelineskip));
}
h3 {
  font-size: var( --x-large);
  font-weight: normal;
  font-style: italic;
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));

}
h4 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: calc(0.667 * var(--onelineskip)) 0 calc(0.333 * var(--onelineskip));
}
h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}

h5::after, h6::after {
  content: ".";
}
*/

/* General text */

/* elements */

/* An invented element, for block content which is part of textflow.
 * This is an alternative to the figure element. The styling mostly is
 * locked to figure, but paragraphing is different.  
 */
spanblock {
    display: block;
}

/* inherit pre font because this is primarily typographical, and 'pre' 
 * may be used for layout of say, poetry. Browsers don't think so.
 */
pre {
  display: block;
  font-family: inherit;
}

code {
  font-family: monospace;
}

/*
date {
	font-size: 1.111rem;
}
*/


/* anchor buttons */
/*
.button {
  font-weight:bold;
  font-size: 18pt;
}
*/

/* Paragraphs */

/* Note this excludes headings, figures, blockquotes, spanblocks */
p + p {
  text-indent: var(--parindent);
}


/* Lists */

/* P145 P182 p212 for examples */
/* dl not left-indented. Lists are not like Memoir, they are a full set of sizings, and include an extra 1/3 oneline (ish) paragraph spacing  */

ul, ol, dl {
    /* originally, I had this at onelineskip? */
    --parsep: calc(0.333 * var(--onelineskip));
    --l-block-margin: 2.5em;
    --r-block-margin: 2.5em;
    --labelsep: 0.5em;
    display: block;
    margin: var(--parsep) var(--r-block-margin) var(--parsep) var(--l-block-margin);
}

/* If narrow, trim horizontal margins */
/* TODO: Why not working at 77rem?? */
/* That said, --break-width-formatting is a viable value */
@media screen and (max-width: 44rem) {

  ul, ol, dl {
  /*
    margin-right: 0;
    margin-left: 1.333em;
    */
    --l-block-margin: 1.333em;
    --r-block-margin: 0;
  }

}

li, dd {
  --itemsep: calc(0.333 * var(--onelineskip));
  margin-bottom: var(--itemsep);
}

/* Do not want last item bottom margin to overlay maybe thinner list frame */
/* TODO: Don't like this CSS */
ol li:last-child, ul li:last-child, dl li:last-child {
  margin-bottom: 0;
}

/* should be runin on 'dt', but not reliabile in Mozilla. float will 
 * work for single lines.
 */
dt {
    font-weight: bold;
    margin-right: 0.5em;
    float: left;
}  

ol.x-tight, ul.x-tight, dl.x-tight {
  --parsep: calc(0.5 * var(--onelineskip));
}

ol.x-tight li, ul.x-tight li, dl.x-tight dd {
  --itemsep: 0;
}

ol.tight, ul.tight, dl.tight {
  --parsep: calc(0.417 * var(--onelineskip));
}

ol.tight li, ul.tight li, dl.tight dd {
  --itemsep: calc(0.1667 * var(--onelineskip));
}


/* loose-spaced list */
/* margin bottom more reliable for floats.
 * outer list margins hold overall position. 
 */
 /*TODO
  * x Bottom margin spill spoiling the loose versions
  * Spacing curves seem wrong anyhow
  * x-tight does march Memoir tight. But the only one.
  */
ol.loose, ul.loose, dl.loose {
  --parsep: calc(0.25 * var(--onelineskip));
}
 
ol.loose li, ul.loose li, dl.loose dd {
  --itemsep: calc(0.75 * var(--onelineskip));
}

ol.x-loose, ul.x-loose, dl.x-loose {
  --parsep: calc(0.167 * var(--onelineskip));
}
 
ol.x-loose li, ul.x-loose li, dl.x-loose dd {
  --itemsep: var(--onelineskip);
}



/* Metatext */
/* Metatext includes the families of spanblock (necessary) 
 * and figure (unecessary/illustrative) 
 */
figure, spanblock, blockquote{
  margin: var(--onelineskip) calc(2 * var(--parindent));
}

figure.wide, spanblock.wide {
  margin: var(--onelineskip) 0;
}

figure.narrow, spanblock.narrow {
  margin: var(--onelineskip) calc(4 * var(--parindent));
}

figure.x-narrow, spanblock.x-narrow {
  margin: var(--onelineskip) calc(6 * var(--parindent));
}

figure.xx-narrow, spanblock.xx-narrow {
  margin: var(--onelineskip) calc(8 * var(--parindent));
}



/* Captions */
/* figure captions P183 defaults */
figcaption {
    margin-top: 12pt;
    text-align:center;
}

figcaption:before {
content: "Figure "
}

figcaption > span.num:after {
  content: ": "
}

/* exaggerated selectors because cite may be used elsewhere */
figure > cite, blockquote > cite, divblock > quote > cite {
  display: block;
  font-style: normal;
  text-align:right;
}


 
/* Figures */
/* Blockquotes */
/* HTML blockquotes are an unecessary/figured metatext */


/* Tables P xxvii */
/* Tables are a kind of metatext, usually implying Figure, but can 
 * be spanblock 
 */

table {
    /* Can do this because borders not collapsed (but bottom rule is broken) */
    padding-bottom: 0.111rem;
    margin: 0 auto;
}

/* images */

/* settings to ensure image fit to block. I hope. */
figure > img, spanblock > img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

/* image decoration */
.framed  {
    border: 1px solid black;
}

.ruled  {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/*********************************/
figures
fragments



/* Figure images/contents can be be any height.
 * For bitmapped images, we can make some assumptions,
 * Width of the main column is set to 55rem. base fontsize is 16pt. 
 * Though leading may change, image width expended is roughly.  
 * Wide 710px
 * Stock 614px
 * Narrow 517px
 * Widths should be doubled for hi-res retina display.
 */


figcaption {
	margin-top:1.777rem; 
	text-align: center;
}

.nav-table-img{
	font-size:1.777rem;img
}


/*
h1, h3 {
    font-weight:600;
}

.site-title {
	font-weight: 800;
	letter-spacing: 0.1rem;
	color: #99ca71;
	text-shadow:  -1px 1px 2px #000,
				  1px 1px 2px #666,
				 1px -1px 2px #666,
				-1px -1px 2px #000;
} 
*/





.logo img {
	display:block;
	height: 4rem;
}

.topbar {
    margin: 0 auto;
    max-width: 70rem;
    /* to size width: 50%;*/
}


.topbar a {
    text-decoration:none;
}

/* Menu */
.menu a {
	color: white;
	/* not sure why this fails */
	cursor: pointer;
}

.menu a:hover {
    text-decoration: underline;
}

.menu {
    list-style: none;
    padding: 0;
	margin: 0;
}

/*.submenu *:last-child {*/
.submenu ul {
	display: none;
}

.noscript-menu {
    list-style: none;
	padding: 0.5rem 0;
    text-decoration: underline;

}
.noscript-menu li {
	margin: 0.5rem 1.5rem;
}

.noscript-menu a {
	color: white;
}





/* Good break point? */
/*
@media screen and (max-width: 30rem) {
	/* thin LR padding on narrow screens */
	article,.sidecol {
		padding: 2rem 1rem;
	}
}
*/







/* Everyday listening
 * Twister6 (more impressive on mobile)
 * The headhonelist (horrible small on hires)
 * Audiophileheaven (good text, awful performance, fromed photos)
 * Which
 * 2:3?
 * 1:2
 * 12:7
 * 5:3 ;little photo
 * 680*400 8:5 ?
*/
table {
 /* border-collapse: collapse; */
  }
  
table.spec {
	font-size: 14pt;
	line-height: 21pt;
	margin: 0 auto;
	width: initial;
    border-top: 2px solid #a7d7d5;
    border-bottom: 2px solid #a7d7d5; 
}
table.spec td {
	vertical-align:top;
}

td {
    padding: 0 0.7rem;
}




/* ?bad name homepage-site-epigram ?*/
.site-epigram {
	color: #999999;
	font-style: italic;
	font-weight:bold;
	font-size: 1.333rem;
	letter-spacing: 3px;
	text-align:center;
}


.filter-tools {
	/* margin: 0 auto; */
	margin-bottom: 1.5em;
	text-align:center;
}

.filter-tools a {
	margin: 0 1em;
	padding: 0 1em;
	color: black; 
	text-decoration: none;
	border-left: solid black 2pt;
	border-right: solid black 2pt;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.filter-tools a:hover {
	border-left: solid black 8px;
	border-right: solid black 8px;
}

/* Narrow screen, filter-tools vertical */
@media screen and (max-width: 70rem) {
	.filter-tools a {
		display:block;
		margin: 0.8rem;
		padding: 2.083rem;
	}
}



/* table special ref for lists */
.reviewbase-list {
	margin: 0 auto;
}

.reviewbase-list .badge {
	font-size:12pt;
	font-family: VollkornSC;
	font-variant: small-caps;
	padding: 0em 1em;
}

/* Add badge border to all bads */
.reviewbase-list .badge.bad {
		border: solid black 1px;
}
	
.reviewbase-list td {
    padding: 0 1em 0.7em 0;
}



