/* Sizing reset */
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/* Simple print rules:
 * - Always break bodies
 * - Avoid break after titles
 * - Avoid break in, or after, figures, tables, or lists
 * - Avoid breaks in footers
 */
body {
  page-break-before: always;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

table, figure, spanblock, ol, ul, dl {
  page-break-after: avoid;
  page-break-inside: avoid;
}

article > footer, section > footer {
  page-break-inside: avoid;
}

/* for printing, hide navbars */
@media print {
  .paper-header {
    display: none;
  }
}


body {
  --fontscale: 1;
}


/* if narrower than paper */
/* A hack for higher resolutions
 * (responsicee font scaling)
 * At the time of writing, there are no reasonable tools for handling
 * high-res screens, and their subsequent shrinking of visual
 * font-size. So this is a deliberately small hack---easy to comment,
 * easy to maintain, easy to adapt.
 * The hack is based on the idea that until about 640/800
 * resolutions, font-size on screen did maintain readable and consistent
 * sizes, by convention. After that, the rules jack up the fontsize a 
 * bit. 
 * It is a gentle scale, designed only to take the edge off resolution
 * scaling. There is deliberately no attempt at, for example, continuous 
 * scaling.    
 */
/*
 * My 16:9 vertical resolutions,
 * 1080
 * 900
 * 810
 * 768
 * 720
 * 576
 * 540
 * 
 * Original was  <640:16pt, <900 or hi-res:18pt, 20pt
 * Now 12pt, 16pt 20pt
 *  -140 for non-viewport space
 *  that would be range,
 * 940 - 400 = 540
 * three steps? Each step,
 * 540/4=135
 * So changes at
 * 400+135=535
 * 670
 * 805
 * value step is
 * 12-22/3 = 3.333
 * 12
 * 15.333/12 = 1.277
 * 18.667/12 = 1.5
 * 22/12 = 1.833
 * 535 * 1.45
 * 670 * 1.9
 * 805 * 2.35
 */
@media screen and (min-height: 535px) {
  /* mid-res screen e,g, 960x720 14pt */
  body {
    font-size: 15.333pt;
    --fontscale: 1.277;
  }
}
 
@media screen and (min-height: 670px) {
  body {
    font-size: 18.667pt;
    --fontscale: 1.5;
  }
}
@media screen and (min-height: 805px) {
  /* hi-res screen e.g. 1920x1080 22pt */
  body {
    font-size: 22pt;
    --fontscale: 1.833;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2) {
  /* retina screens 
   * Assume Apple know what they are doing, so only apply a hair
   * of scaling
   */
	body {
      font-size: 14pt;
      --fontscale: 1.1666;
	}
}


/* Fonts and other base declarations */
/* 
 * Much of the base work of this CSS happens in the BODY element.
 * Primo for overriding.
*/

body {
  /* List of Palatino-likes, degrading. Palatino is a commercial font,
   * and Palatino-likes are not well-regarded. However, Palatino is 
   * common in books, provided in LaTeX, and has several platform
   * approximations ("DejaVu" Linux/free, "Book Antiqua" MS) 
   */
  font-family: Palatino, "Book Antiqua", "DejaVu Serif", Georgia, serif;
  background-color: lightgrey;

  /* Custom properties for base values.
   * If any of these are changed, to follow the usage of this CSS, the
   * non-custom default properties should also be changed, so browser
   * fallbacks switch to similar sizing. Unless, of course, the browser
   * fallback values are acceptable as they stand.
   */
   
  /* Size of the base font.
   * Not only used for basic font-sizze, but through onelineheight, 
   * affects much other spacing. The default is a typographical 12pt.
   *
   * If this is modified, to follow the usage of this CSS, a new set of
   * font ratios must be uncommented. These only allow a small set
   * of alternate font sizes to be applied here, currently 
   * 12pt/14pt/17pt.
   * 
   * 12pt
   * Usually translates to 16 CSS pixels. This is a large size,
   * but generally recommended (web fonts are often too small for 
   * readability).
   * 
   * 11pt
   * Closer to the web convention of 14px (maybe 14.5ish px), but not 
   * recommended.
   */
  --fontsize: 12pt;
  --scaled-fs: calc(var(--fontsize) * var(--fontscale));
  
  /* fallback for non-custom property browsers */
  font-size: 12pt;
  font-size: var(--scaled-fs);

  
  /* Base line height
   * line-height depends on the font-size, the font family, maybe even 
   * line-length. On the web, exaggerated values are often used, 
   *
   * 1.75
   * More for display than readability e.g. teasers
   * 
   * 1.7 
   * Good for readability if you have no idea about text widths
   * 
   * 1.6 Wikipedia 
   * Some justifucation for this, especially for long lines, or big 
   * blocks of text. 
   * 
   * 1.5 email display
   * A common sort of width for computer presentation
   * 
   * 1.4
   * Not bad balance between typography and the flex of the web.
   * 
   * 1.3 Gov.uk
   * Sensible choice for sober text
   * 
   * 1.25rem
   * Common, but will lock all font sizes to one height, so not 
   * advisable? REMs are slightly bigger than a ratio.
   * 
   * Memoir
   * Suggestions from Memoir. They make little sense to me, 
   * 12pt/25pt/30pt dipping against a background of 1.25. And 17pt 
   * peaking out. One thing is clear, these suggestions are much 
   * narrower then usual web typeography.
   * Webbook doesn't model multiple line heights. The divisions are 
   * fine, will be lost on the web, and will add much complexity. 
   *
   * --lh-11pt: 1.24;
   * --lh-12pt: 1.21;
   * --lh-14pt: 1.25;
   * --lh-17pt: 1.29;
   * --lh-20pt: 1.25;
   * --lh-25pt: 1.20;
   * --lh-30pt: 1.23;
   * --lh-36pt: 1.25;
   * --lh-48pt: 1.25;
   * --lh-30pt: 1.20;
   * 
   */
  --lineheight: 1.21;
  /* fallback for non-custom property browsers */
  line-height: 1.21;
  line-height: var(--lineheight);
    
  /* Base indent for text and margins.
   * Used for paragraphing. Also used in other places, for example as a 
   * base for indenting illustrative blocks. The default is font-size 
   * responsive.
   * 
   * On the web, 2em also looks good 
   */
  --parindent: 1.5rem;
  
  /* parindent scale. Used in figures, mainly */
  --parindent-none: 0;
  --parindent-normal: var(--parindent);
  --parindent-large: calc(1.667 * var(--parindent));
  --parindent-x-large: calc(3.667 * var(--parindent));
  --parindent-xx-large: calc(6 * var(--parindent));
  --parindent-huge: calc(8 * var(--parindent));
  --parindent-x-huge: calc(12 * var(--parindent));

  /* One line of height, usually applied to a margin.
   * Notably used to space headlines, but also used elsewhere, for 
   * example, spacing figures/spanblocks etc. The default is in 
   * points, responsive to base font-size and lineheight (i.e. same as 
   * line-height, but in points, not a ratio).
   * 
   * Translated from Memoir, here multiplied to deliver usable (point) 
   * units 
   */
  --onelineskip: calc(var(--scaled-fs) * var(--lineheight));

  /* onelineskip scale. Used in figures, mainly */
  /* Not all the possibilities, but some DRYing */
  --onethird-lineskip: calc(0.333 * var(--onelineskip));
  --twothird-lineskip: calc(0.667 * var(--onelineskip));
  --half-lineskip: calc(0.5 * var(--onelineskip));
  --one-lineskip: var(--onelineskip);
  --onehalf-lineskip: calc(1.5 * var(--onelineskip));
  --two-lineskip: calc(2 * var(--onelineskip));
  --twohalf-lineskip: calc(2.5 * var(--onelineskip));
  --three-lineskip: calc(3 * var(--onelineskip));
  --four-lineskip: calc(4 * var(--onelineskip));

 
  /* Note:
   * Memoir also use \baselineskip which is like \onelineskip, but is 
   * relative to a pararaph's font, so can change in size. I'm ignoring 
   * \baselineskip... until/unless we need it... 
   */

  /* Adds a thread of vertical space.
   * Can be used anywhere, but the most notable use is as a substitute 
   * for midrules in tables. The default is font-size responive. 
   *  
   * This is rather complex in Memoir. It's called \defaultaddspace, 
   * which is allocated to \addlinespace for tables. 
   * This class generalises those settings to --vspace for use anywhere 
   * that a small amount of vspace is needed before a line. Without TeX 
   * cursor positioning it must be a top padding (not margin, which 
   * would collapse). See Memoir's /addvspace.
   */ 
   --vspace-thin: 0.5em;
    
  /*
   * Useless in practice, as custom properties
   * can not be used in media queries. Here as annotation.
   * --breakwidth: 74rem;
   */
    
  /* In deeper selectors you will find,
   *
   * = Title vspacing 
   * --beforeskip: 50pt;
   * --midchapskip: 20pt;
   * --afterskip: 40pt;
   * 
   * = List properties
   * --block-vspace-xxx
   * --block-hspace: 2em;
   * --labelsep: 0.5em;
   * 
   * =
   * --aboverulesep: 0.4ex;
   * --belowrulesep: 0.65ex;
   * --heavyrule: 2;
   * --lightrule: 1;
   */
   
  /* List properties */
  --block-vspace: var(--twothird-lineskip);
  --block-hspace: 2em;
  --labelsep: 0.5em;
  
  --list-itemsep-x-tight: 0;
  --list-itemsep-tight: calc(0.25 * var(--one-lineskip));
  --list-itemsep-normal: var(--half-lineskip);
  --list-itemsep-loose: calc(0.75 * var(--one-lineskip));
  --list-itemsep-x-loose: var(--one-lineskip);
  
  /* Table rule properties */
  --table-aboverulesep: 0.4ex;
  --table-belowrulesep: 0.65ex;
  --table-heavyrule: 2px;
  --table-lightrule: 1px;
}





/* Font Sizing */
/* 12pt Scaling */
body {

/* 11pt Scaling (can use REMS against 11pt base) 
    25pt --x-huge
    20pt --huge
    17pt --xx-large
    14pt --x-large
    12pt --large
    11pt --normal
    10pt --small
    9pt --x-small
    8pt --xx-small
    7pt --tiny
 */
 /*
 --x-huge: calc(2.273 * var(--scaled-fs)); 
 --huge: calc(1.818 * var(--scaled-fs)); 
 --xx-large: calc(1.545 * var(--scaled-fs)); 
 --x-large: calc(1.273 * var(--scaled-fs)); 
 --large: calc(1.091 * var(--scaled-fs)); 
 --normal: calc(1 * var(--scaled-fs)); 
 --small: calc(0.909 * var(--scaled-fs)); 
 --x-small: calc(0.818 * var(--scaled-fs)); 
 --xx-small: calc(0.727 * var(--scaled-fs)); 
 --tiny: calc(0.636 * var(--scaled-fs));
*/ 
/* 12pt Scaling (can use REMS against 12pt base) 
    30pt --x-huge
    25pt --huge
    20pt --xx-large
    17pt --x-large
    14pt --large
    12pt --normal
    11pt --small
    10pt --x-small
    9pt --xx-small
    8pt --tiny
 */
 
  --x-huge: calc(2.5 * var(--scaled-fs)); 
  --huge: calc(2.083 * var(--scaled-fs)); 
  --xx-large: calc(1.667 * var(--scaled-fs)); 
  --x-large: calc(1.417 * var(--scaled-fs)); 
  --large: calc(1.167 * var(--scaled-fs)); 
  --normal: calc(1 * var(--scaled-fs)); 
  --small: calc(0.917 * var(--scaled-fs)); 
  --x-small: calc(0.833 * var(--scaled-fs)); 
  --xx-small: calc(0.75 * var(--scaled-fs)); 
  --tiny: calc(0.667 * var(--scaled-fs));

/* 14pt REM Scaling (can use REMS against 14pt base)
    36pt --x-huge
    30pt --huge
    25pt --xx-large
    20pt --x-large
    17pt --large
    14pt --normal
    12pt --small
    11pt --x-small
    10pt --xx-small
    9pt --tiny
*/

/*
 --x-huge: calc( 2.571 * var(--scaled-fs));
 --huge: calc( 2.143 * var(--scaled-fs));
 --xx-large: calc( 1.786 * var(--scaled-fs));
 --x-large: calc( 1.429 * var(--scaled-fs));
 --large: calc( 1.214 * var(--scaled-fs)); 
 --normal: calc(1 * var(--scaled-fs));
 --small: calc( 0.857 * var(--scaled-fs));
 --x-small: calc( 0.786 * var(--scaled-fs));
 --xx-small: calc( 0.714 * var(--scaled-fs));
 --tiny: calc( 0.643rem;
*/

/* 17pt REM Scaling (can use REMS against 17pt base)
    48pt --x-huge
    36pt --huge
    30pt --xx-large
    25pt --x-large
    20pt --large
    17pt --normal
    14pt --small
    12pt --x-small
    11pt --xx-small
    10pt --tiny
*/

/*
 --x-huge: calc( 2.824 * var(--scaled-fs));
 --huge: calc( 2.118 * var(--scaled-fs));
 --xx-large: calc( 1.765 * var(--scaled-fs));
 --x-large: calc( 1.471 * var(--scaled-fs));
 --large: calc( 1.176 * var(--scaled-fs)); 
 --normal: calc(1 * var(--scaled-fs));
 --small: calc( 0.824 * var(--scaled-fs));
 --x-small: calc( 0.706 * var(--scaled-fs));
 --xx-small: calc( 0.647 * var(--scaled-fs));
 --tiny: calc( 0.588 * var(--scaled-fs)); 
*/

}


.tiny {
  font-size: var(--tiny);
}
 
.xx-small {
  font-size: var(--xx-small);
}
    
.x-small {
  font-size: var(--x-small);
}
    
.small {
  font-size: var(--small);
}
 
.normal {
  font-size: var(--normal);
}

.large {
  font-size: var(--large);
}

.x-large {
  font-size: var(--x-large);
}

.xx-large {
  font-size: var(--xx-large);
}

.huge {
  font-size: var(--huge);
}

.x-huge {
  font-size: var(--x-huge);
}


.site-title {
  font-size: var(--xx-large);
  text-align: center;
  padding: 14.52pt 0 1em;
  padding: var(--onelineskip) 0 1em;
}




/** Layouts */
/* Paper sizes 
 * The paper-stock-inner-xxx set are to space paper-stock liners. They
 * differ only in that they have no default color property.
 * WARNING: if you use the paper-stock-inner-xxx margins, they should be
 * set on a liner container, not the paper container.
 */
.paper-stock, .paper-web, .paper-cols, .paper-a4, .paper-column {
  background-color: white;
}

/* Full width presentations like site headers and footers 
 * (not for reading/phrasal text) 
 */
.paper-stock {
  display: block;
}

/* Designed for a sidecol */
.paper-stock-inner-margins-cols, .paper-cols {
  max-width: 77rem;
  margin: 0 auto;
}

/* Full width text (no cols) 
 * This is narrowed a to make a readable linelength. Which makes no 
 * difference to responsiveness, since columns are not involved,
 * and the margin break is narrower (on column-width) anyhow.
 */
.paper-stock-inner-margins-web, .paper-web {
  max-width: 54rem;
  margin: 0 auto;
}

/* A4 width text (no cols) */
.paper-stock-inner-margins-a4, .paper-a4 {
  max-width: 210mm;
  margin: 0 auto;
}

/* Column width text (no cols) */
.paper-stock-inner-margins-column, .paper-column {
  max-width: 44rem;
  margin: 0 auto;
}


/* Margins */
/* Papers and cols will have a margin theme, expressed as padding.
 * Whatever that is, this is the responsive solution
 */
.margins-narrower {
  padding: 2rem 7rem;
}

.margins-narrow {
  padding: 2rem 8rem;
}

.margins-normal {
  padding: 2rem 9rem;
}

.margins-wide {
  padding: 2rem 10rem;
}

.margins-wider {
  padding: 2rem 11rem;
}
 
/* TODO: These are overrun by later margin themes */
/* Less than page width.
*/
/* Less than narrow/column sizes */    
@media screen and (max-width: 44rem) {
  /* Make left/right padding narrow.
   * Trim top/extend bottom
   * (these are the papers and cols that carry text margins)
   */
  .paper-web, 
  .paper-a4, 
  .paper-column, 
  .col-2, 
  .col-5 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: var(--twothird-lineskip);
    padding-bottom: var(--four-lineskip);
  }
}

/* layouts */

/*
.print-fixed-margin-mdvl {
    padding: 6rem 6rem 9rem 6rem;
}

.print-fixed-margin-iso {
    padding: 6rem 6rem 12rem 6rem;
}
*/


/* TOCONSIDER */
/* containers */
.col-fixed-margin-vertical {
    padding: 8rem 0;
}

.col-2,.col-5 {
  display: block;
}

/* if wider than paper, horizontal layouts horizontal */
@media screen and (min-width: 77rem) {

  /* contained elements */
  .col-2 {
    display: inline-block;
    width: 21.5rem;
    vertical-align: top;
  }

  .col-5 {
    display: inline-block;
    width: 55rem;
    vertical-align: top;
  }
}




/********************
 * Common
********************/


/* Headlines */

/* assert bold on all */
h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

/* Chapterstyles */
/* bianchi, bringhurst, brotherton, chappel, culver, dash, 
 * demo2, ell, Ger,lyhne, madsen, pedersen, southall, 
 * thatcher, veelo, verville, demo3 */

/* midchapskip only used for inserting vertical numbering. 
 * Ignoring nubering */
html {
  --beforeskip: 50pt;
  --midchapskip: 20pt;
  --afterskip: 40pt;
}

/* default */
h1 {
  font-size: 30pt; 
  font-size: var( --x-huge);
  margin: 50pt 0 40pt;
  margin: var(--beforeskip) 0 var(--afterskip);
}


/* The basic styles are default, section, hangnum, companion, article, 
 * reparticle */
/* The basic styles are mainly concerned with numeric positioning. 
 * However, companion is right-aligned, and article is smaller */

h1.companion {
  text-align: right;
}

h1.article {
  --beforeskip: 3.5ex;
  --afterskip:2.3ex;
  font-size: var(--x-large);
  margin: var(--beforeskip) 0 var(--afterskip);
}
 
/* chapterhead styles */
/* 
 * bianchi, bringhurst, crosshead, default, dowding, komalike, memman, 
 * niglike, tandh, and wilsondob
 * 
 * A few missing. brotherton too simple, thatcher too complex, others 
 * use graphics packages.
 */
 
/* Crude fallback for headline padding  
 * Note that some styles don't use the padding.
 * And fallbacks assume default margins
 */
.bianchi, .bringhurst,  chappell,.demo3, .southall {
  padding: 14.52pt 0;
}

.bianchi {
  font-family: sans;
  text-align: center;
  padding-top:var(--onelineskip);
  border-top: solid black 1px;
  padding-bottom: var(--onelineskip);
  border-bottom: solid black 1px;
}

.bringhurst {
  font-size: var( --x-large);
  text-transform: lowercase;
  font-weight: normal;
  font-variant: small-caps;
  padding-bottom: var(--onelineskip);
  border-bottom: solid black 1px;
  margin-bottom: var(--onelineskip);
}

.chappell {
  font-size: var( --x-large);
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding-top: var(--onelineskip);
  border-top: solid black 1px;
}

/* Biblical style */
/* Our usage= article, centred */
.culver {
  --beforeskip: 3.5ex;
  --afterskip:2.3ex;
  font-size: var(--x-large);
  text-align: center;
  margin: var(--beforeskip) 0 var(--afterskip);
}

.crosshead {
  --beforeskip: var(--two-lineskip);
  --afterskip: var(--two-lineskip);
  font-size: var(--xx-large);
  text-align: center;  
  margin: var(--beforeskip) 0 var(--afterskip);
}

/* Too hard for now */
.dash {}

/* As used in the manual*/
.demo3 {
  --beforeskip: 0;
  --afterskip: var(--two-lineskip);
  font-family:sans;
  font-weight: normal;
  text-align: right;
  padding-top: var(--onelineskip);
  border-top: solid black 1px;
  padding-bottom:  var(--onelineskip);
  border-bottom: solid black 1px;  
  margin: var(--beforeskip) 0 var(--afterskip);
}

.dowding {
  --beforeskip: var(--two-lineskip);
  --afterskip: var(--onehalf-lineskip);
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: var(--beforeskip) 0 var(--afterskip);
}

.komalike {
  --beforeskip: var(--two-lineskip);
  --afterskip: var(--onehalf-lineskip);
  font-family: sans;
  font-size: var( --xx-large);
  margin: var(--beforeskip) 0 var(--afterskip);
}

.ntglike {
  --beforeskip: 50pt;
  font-size: var( --x-large);
  margin-top: var(--beforeskip);
}

/* Cambridge book, or close */
/* Roman family=nonsense. Uses baselineskip? */
/* Currently bad */
.southall {
  --beforeskip: 36pt;
  --afterskip: calc(5 * var(--onelineskip));
  font-weight: normal;
  padding-bottom:var(--onelineskip);
  border-bottom: solid black 1px;  
  margin: var(--beforeskip) 0 var(--afterskip);
}

.tandh {
  --beforeskip: var(--onelineskip);
  --afterskip: var(--two-lineskip);
  margin: var(--beforeskip) 0 var(--afterskip);  
}

/* TODO */
.thatcher {
  font-weight: normal;
  font-size: var( --large);
  text-transform: uppercase;
  text-align: center;
}

.wilsondob {
  --beforeskip: var(--two-lineskip);
  --afterskip: var(--four-lineskip);
  font-weight: normal;
  font-style: italic;
  text-align: right;
  margin: var(--beforeskip) 0 var(--afterskip);  
}


/* heading sets */
/*
h1 chapter \chaptitlefont
h2 section \secheadstyle
h3 subsection \subsecheadstyle
h4 subsubsection \subsubsecheadstyle
h5 para \paraheadstyle
h6 subpara \subparaheadstyle
*/
/*TODO: Reasses with /beforeskip /aftersskip*/
/* Heading Fallbacks 
 * Assume default margins settings are ok 
 */
 
/* default set */
h2 {
  font-size: 17pt;
  font-size: var( --x-large);
  margin: 3.5ex 0 2.3ex;
}

h3 {
  font-size: 14pt;
  font-size: var( --large);
  margin: 3.25ex 0 1.5ex;
}

h4 {
  font-size: var( --normal);
  margin: 3.25ex 0 1.5ex;
}

h5 {
  font-size: var( --normal);
  margin: 3.25ex 0 1em;
}

h6 {
  font-size: var( --normal);
  margin: 3.25ex 0 1em;
}

/* indent text following h6, as the title is often a repeat of h5 */
h6 + p {
  text-indent: var(--parindent)
}



/* memman */
/*
h2{
  font-weight: normal;
  font-variant: small-caps;
  margin: calc(1.333 * var(--onelineskip)) 0 var(--twothird-lineskip);
}

h3 {
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}

h4 {
  font-weight: normal;
  font-style: italic;
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}

h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}

h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h5::after, h6::after {
  content: ".";
}
*/

/* Bringhurst */
/*
h2 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--onelineskip) 0  var(--onelineskip);
}

h3 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0  var(--onelineskip);
}

h4 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--onelineskip) 0  1em;
}

h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0  1em;
}

h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0  1em;
}

h5::after, h6::after {
  content: ".";
}
*/

/* crosshead */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: calc(1.25 * var(--onelineskip)) 0 calc(0.75 * var(--onelineskip));
}
h3 {
  text-align: center;
  margin: calc(1.25 * var(--onelineskip)) 0 calc(0.75 * var(--onelineskip));
}
h4 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}
h5 {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}
h6 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--onelineskip) 0 1em;
}
*/

/* dowding */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: var(--two-lineskip) 0 var(--onelineskip);
}
h3 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
  margin: calc(1.2 * var(--onelineskip)) 0 calc(0.8 * var(--onelineskip));
}
h4 {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}
h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h5::after, h6::after {
  content: ".";
}
*/

/* komalike */
/*
h2 {
  font-family: sans;
  font-size: var( --x-large);
  margin: 3.5ex 0 2.3ex;
}
h3 {
  font-family: sans;
  font-size: var( --large);
  margin: 3.5ex 0 2.3ex;
}
h4 {
  font-family: sans;
  margin: 3.25ex 0 1.5em;
}
h5 {
  font-family: sans;
  margin: 3.25ex 0 1em;
}
h6 {
  font-family: sans;
  margin: 3.25ex 0 1em;
}
*/

/* Magzine */


/* H1 default spacing */
/* TODO: needs checking against some sources (but feels ok) */
.magazine {
  text-align: center;
}
/*
h2 {
  font-weight: normal;
  text-align:center;
  text-transform: uppercase;
  margin: calc(3.25 * var(--onelineskip)) 0 calc(1 * var(--onelineskip));
}
h3 {
  margin: calc(1.25 * var(--onelineskip)) 0 var(--half-lineskip);
}
h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-variant: small-caps;
  margin: var(--one-lineskip) 0 var(--onethird-lineskip);
}
h5 { 
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--onelineskip) 0  0;
}

h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0  0;
}
*/

/* ntglike */
/*
h2 {
  font-size: var( --large);
  margin: var(--two-lineskip) 0 var(--half-lineskip);
}
h3 {
  font-size: var( --normal);
  margin: var(--onelineskip) 0 calc(0.01 * var(--onelineskip));
}
h4 {
  font-weight: normal;
  font-style: oblique;
  margin: var(--onelineskip) 0 var(--half-lineskip);
}
h5 {
  font-weight: normal;
  font-style: oblique;
  margin: 3.25ex 0 1em;
}
h6 {
  font-weight: normal;
  font-style: oblique;
  margin: 3.25ex 0 1em;
}
*/

/* tandh */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: var(--two-lineskip) 0 var(--onelineskip);
}
h3 {
  font-size: var( --x-large);
  font-weight: normal;
  font-style: italic;
  margin: calc(1.2 * var(--onelineskip)) 0 calc(0.8 * var(--onelineskip));
}
h4 {
  font-size: var( --normal);
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}
h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h5::after, h6::after {
  content: ".";
}
*/

/* wilsondob */
/*
h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: calc(1.333 * var(--onelineskip)) 0 var(--twothird-lineskip);
}
h3 {
  font-size: var( --x-large);
  font-weight: normal;
  font-style: italic;
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}
h4 {
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: var(--twothird-lineskip) 0 var(--onethird-lineskip);
}
h5 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}
h6 {
  font-weight: normal;
  font-style: italic;
  margin: var(--onelineskip) 0 1em;
}

h5::after, h6::after {
  content: ".";
}
*/



/* General text */

/* elements */

/* There is a \date command in book titling \maketitle P67.
 * There a probably many more \dare commands. But these are locked to 
 * the enviroments, have no generality of formatting effect. So no 
 * formatting for the HTML element TIME.
 * QUOTE is represented by \verb, but this has no formatting effect. 
 */
 
/* An invented element, for block content which is part of textflow.
 * This is an alternative to the figure element. The styling mostly is
 * locked to figure, but paragraphing is different.  
 */
spanblock {
  display: block;
}

/* inherit pre font because this is primarily typographical, and 'pre' 
 * may be used for layout of say, poetry. Browsers don't think so.
 */
pre {
  display: block;
  font-family: inherit;
}

code {
  font-family: monospace;
}



/* Paragraphs */

/* Note this excludes headings, figures, blockquotes, spanblocks */
p + p {
  text-indent: var(--parindent);
}

/* class to kill indented paragraphing (useful on blockquotes) */
.blockparagraph p {
  text-indent: 0;
  margin-top: 6pt;
}


/* Add space before simple text-lines/paraagraphs */
.addvspace{
  padding-top: 0.5em;
  padding-top: var(--vspace-thin);
}

.appendvspace{
  padding-bottom: 0.5em;
  padding-bottom: var(--vspace-thin);
}



/* Lists */

/* P145 P182 p212 for examples */
/* dl not left-indented. 
 * Lists are not like Memoir, they are a full set of sizings, and 
 * include an extra 1/3 oneline (ish) paragraph spacing  
 */

ul, ol, dl {
  /* Memoir, P141
   * --vspace formulae is \topsep + \parskip [+ \partopsep]
   * Set in Memoir with this comment,
   * For the larger sizes I have set \cs{topsep} to 2/3\cs{onelineskip}
   * ... (\parskip is 0pt plus X R.C.)
   * At 12pt, 9pt.4,5pt at 12pt, near enough
   * \partopsep is used to adjust spacing for various tightnesses
   * default - 0.2\onelineskip
   * firmlist - 0
   * firmlist* - 0.1\onelineskip
   * tightlist - 0
   * tightlist* - {0.5\onelineskip
   * The above is not a good scale, so, we have scale of 5,
   * x-tight (tight) 0.5
   * tight (firm)    0.4
   * default         0.3
   * loose           0.2
   * x-loose         0.1
   * But it looks excessive to me. Probably a reset someplace.
   * So I do this... I go far, axe scaling...
   */
  
  /* margin is very complex in Memoir. It is based in LateX. It is used 
   * to calculate embedded depth, which reduces as depth increases.
   * \leftmargin, \rightmargin
   * \leftmargin is 29pt
   * Memoir sets outer default at 2em
   */

  display: block;
  margin: 8pt 2em;
  margin: var(--block-vspace) var(--block-hspace);
}

/* TODO: General */
.vspace-zero {
  margin-top: 0;
  margin-bottom: 0;
}


li, dd {
  /*
   * itemsep is \itemsep + \parsep
   * Memoir note:
   * For the larger sizes I have set... \cs{parsep} to 1/2\cs{topsep}.
   * So, \parsep is 1/2 topsep i.e. calc(var(--onethird-lineskip))
   * \itemsep is used to adjust nested lists and looseness,
   * firm - {0.5\itemsep}
   * tight - 0
   * \itemsep is hard to find, but in LaTeX is set to \topsep. 
   * Involved, or what? 
   * x-tight (tight) 0.0
   * tight (firm)    0.5
   * default         1.0
   * loose           1.5
   * x-loose         2.0
   * But it looks excessive to me. Probably a reset someplace.
   * So I do this...
   */
  margin-bottom: 6pt;
  margin-bottom: var(--list-itemsep-normal);
}

/* Do not want last item bottom margin to overlay maybe thinner list frame */
/* TOPONDER: Don't like this CSS */
ol li:last-child, ul li:last-child, dl li:last-child {
  margin-bottom: 0;
}

/* should be runin on 'dt', but not reliabile in Mozilla. float will 
 * work ok.
 */
dt {
  font-weight: bold;
  margin-right: 0.5em;
  float: left;
}  

.list-x-tight li, .list-x-tight dd {
  margin-bottom: 0;
  margin-bottom: var(--list-itemsep-x-tight);
}

.list-tight li, .list-tight dd {
  margin-bottom: 3pt;
  margin-bottom: var(--list-itemsep-tight);
}

.list-loose li, .list-loose dd {
  margin-bottom: 9pt;
  margin-bottom: var(--list-itemsep-loose);
}

.list-x-loose li, .list-x-loose dd {
  margin-bottom: 12pt;
  margin-bottom: var(--list-itemsep-x-loose);
}



/* Illustrations */
/* Illustrations includes the families of spanblock (necessary) 
 * and figure (unnecessary/illustrative) 
 */
/* Figure in Memoir is a type of 10.float P 173. Also see table P178 
 * Defaults: p185 \floatsep = 12pt \textfloatsep = 20pt*/
figure, spanblock {
  /* Latex works margins by having a between-float value \floatsep,
   * and, before text, a \textfloatsep. Also, it has no top separartion,
   * as it is assumed an illustration always floats towards page top.
   *  
   * Can't do that in CSS. What can be done is to always add a top margin 
   * of onelineskip be the preceeding sibling a figure or not, then 
   * pushing following paragraphs down. See below
   */
  margin-top: 14.52pt;
  margin-top: var(--onelineskip);
  padding:  14.52pt 3em;
  padding: var(--onelineskip) var(--parindent-large);
}

/* illustration stack */
/* TODO  not right. Can not work? needs to be rid of topmargin, and previous needs to 
 * bottom margin. Unless we only add the margin for paragraphs and headings? */
figure + p, spanblock + p {
  margin-top: 24.205pt;
  margin-top: calc(1.667 * var(--onelineskip));
}

.ilsn-wide {
  padding: 14.52pt 0;
  padding: var(--onelineskip) 0;
}

.ilsn-narrow {
  padding: 14.52pt 5em;
  padding: var(--onelineskip) var(--parindent-x-large);
}

.ilsn-x-narrow {
  padding: 14.52pt 9em;
  padding: var(--onelineskip) var(--parindent-xx-large);
}

.ilsn-xx-narrow {
  padding: 14.52pt 12em;
  padding: var(--onelineskip) var(--parindent-huge);
}

/* TODO: This has been tweaked by hand and I'd like
 * to model.
 * Note: illustration size also steps larger when margins are shrunk
 * at 77rem
 */
@media screen and (max-width: 54rem) {
  /* Stop xx-narrow figures disappearing
   * expand to x-narrow 
   */
  .ilsn-xx-narrow {
    padding: 14.52pt 9em;
    padding: var(--onelineskip) var(--parindent-xx-large);
  }
}

@media screen and (max-width: 24rem) {
  /* Stop xx-narrow and x-narrow figures disappearing 
   * Expand to narrow
   */
  .ilsn-x-narrow, .ilsn-xx-narrow {
    padding: 14.52pt 5em;
    padding: var(--onelineskip) var(--parindent-x-large);
  }
}

/* figure decoration 
 * General enough to carry a simple name?
 */
.framed {
    border: 1px solid black;
}

.ruled {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}



/* Captions */
/* figure captions P183 defaults */
/* \abovecaptionskip = 10pt  \belowcaptionskip = 0pt 
 * Lower captions are a flexible implementation of Latex 10pt
 * but for tables, on test
 * \abovecaptionskip = 7.25pt
 * \belowcaptionskip = 7.25pt
 * Can't make sense of that. Done this instead.
 * 
 * figcaptions are only flowcontent, so I currently believe it
 * is ok to use them in spanblocks.
 */
 /* TODO where an when caption skips? top/bottom? */
figcaption {
    padding: 4.839pt 0 0;
    padding: calc(0.833 * var(--onelineskip)) 0 0;
    text-align: center;
}

/* if caption on top, padding goes bottom. Also, onelineskip 
 * unneccessary 
 */
/* Prefer explicit class to
figure figcaption:first-child, spanblock figcaption:first-child {
*/
.ilsn-caption-top {
    padding: 0 0 1.5ex;
}

/* Not for web */
/*
figcaption:before {
content: "Figure "
}
*/

.ilsn-caption-num:after {
  content: ": "
}

/* exaggerated selectors because cite may be used elsewhere */
.ilsn-cite, .blockquote-cite {
  display: block;
  font-style: normal;
  text-align:right;
}



/* Illustratiion contents */

/* Images */

/* settings to ensure image fit to block. I hope. */
figure > img, spanblock > img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}





/* Tables P. xxvii, also 11.4 TABLES */
/* Tables are a kind of illustration, should be surrounnded with
 * figure/spanblock.
 * 
 * There's some inconsistency in caption spacing, which seems smaller 
 * than for other floats. I'm missing data, so let the usual frame 
 * caption positioning have it's way.
 *
 * Tables are not responsive, because I feel it is usually better if 
 * they are well-formated, despite overflow.
 */
      
table {
  /* Memoir has a \minspace:1em for between tables and following text.
   * However, this class will have figure wraps, and captions and 
   * paragraphs have their own margins which will be applied,
   * so the value has no purpose here.
   */
  
  /* borders are allowed to be default border-collapse:seperate; so 
   * padding and margins can be added to the table itself.
   * But the spacing size is set to 0.
   */
  border-spacing: 0;

  /* Can do spacing because borders not collapsed
   * Only a thread, but looks right. 
   */
  padding-bottom: 0.111rem;
  margin: 0 auto;
}

/* My guess, horizontal spacing.
 * I'm missing data:
 * table reads \tabcolsep = 6pt (which looks as printed)
 * but set to \tabcolsep = 1.5pt?
 * That is said to be suppressed, possibly in favour of \hskip? 2em
 * I give up. I make it 0.5em padding, which looks ok.
 */
th {
  font-weight: normal;
  text-align: left;
  padding: 0 0.5em;
}

td {
  padding: 0 0.5em;
}


/* Problem with this is the lack of spacing in tables.
 * - Table take spacing rules only if not collapsed
 * - Spacing property too general, works round all elements?
 * - Collapsed setting will remove all margins
 * - Padding work only on TD and TH
 * 
 * Accept:
 * Midrules only for table header
 * Midrule expensive
 */
.table-toprule {
  padding-top: 0.65ex;
  padding-top: var(--table-belowrulesep);
  border-top: 2px solid black; 
  border-top: var(--table-heavyrule) solid black;
}

.table-bottomrule {
  padding-bottom: 0.4ex;
  padding-bottom: var(--table-aboverulesep);
  border-bottom: 2px solid black; 
  border-bottom: var(--table-heavyrule) solid black; 
}

.table-midrule th {
  padding-bottom: 0.4ex;
  padding-bottom: var(--table-aboverulesep);
  border-bottom: 1px solid black; 
  border-bottom: var(--table-lightrule) solid black; 
}

.table-midrule tr:first-child td {
  padding-top: 0.65ex;
  padding-top: var(--table-belowrulesep);
}



/* Illustratiion substitutes */

/* Blockquotes 8.3 P130 */
/* NB. HTML blockquotes seem to be treated as figured text
*/
/* Guesswork, as it's in LaTeX */
blockquote {
  padding: 9.685pt 2.5em;
  padding: var(--twothird-lineskip) var(--parindent-large);
}



/* Table of Contents */
/* In practice, some themes for big lists 
 * The base class is mostly a Webbook list style-killer.
 */
.toc{
  margin:0 4em;
  list-style-type: none;
}

.toc-num{
  display: inline-block;
  width: 2.5em;
}

.toc-list {
  list-style-type: none;
}

.toc-li {
  margin: 0;
}

.wide .toc-a {
  padding: 7.26pt 0;
  padding: var(--half-lineskip) 0;
}

/*needs to expand with the anchor. OR use overflow trick? */
.wide .toc-li { 
  /* overflow: auto; */
  padding: 7.26pt 0;
  padding: var(--half-lineskip) 0;
}

/* custom */
.toc-list{
  margin: 0 0 14.52pt 1.5em;
  margin: 0 0 var(--onelineskip) var(--parindent);
}


/* Bullet-symbol theme */
 /* The space is needed as styling is impossible through CSS.
 * Alternatives:
 * scribe mark 
 * math 'z' total 
 */
.bullit .toc-list {
    list-style-position:inside;
    /* choose a bullet */
    /* SECTION SIGN */
    /* list-style-type: '\A7\20'; */
    /* DOTTED CROSS */
    /* list-style-type: '\205C\20'; */
    /* Breadcrumb */    
    /* list-style-type: '>\20'; */
    /* pointer */
    list-style-type: '\2192\20'; 
}

/* I'm not fond of hover effects, but this is expressive and consistent */
.bullit .toc-a:hover {
    font-style: italic;
}

.bullit .toc-a {
    text-decoration: none;
}


/* W3-similar theme */
/* Reassert underline, as it will often be widely killed */
.w3 .toc-a {
    text-decoration: underline;
}

.w3 .toc-a {
    /* choose link color */
    /* black gray-green */
    /* color: #10307a; */ 
    /* black-blue */
    color: #000060;
}


/* Inside-line theme */
.groove .toc-a {
    text-decoration: none;
}

.groove .toc-list {
    padding-left: 0.65em;
    list-style-position:inside;
    border-left: black solid 1px;
}

.groove .toc-a:after{
    /* choose ellipsis decoration */
    /* triple dot */
    content:'\2026'; 
    /* double dot */
    /* content:'\2025'; */
}



/* Toolbar */
/* NOTE: The stock setup is for narrow-screen. See the
 * media selector below for the wide-screen CSS
 */
.toolbar {
  /* TOCONSIDER: must be inline-block, or it spills list and other 
   * margins? 

  display: inline-block;
   */
  display: block;
     
  /* Thread of space at top/bottom, parindent margin.
   * Surplus to purity, but gives space for lists to work in,
   * and useful base for themes. 
   */
  padding: var(--onethird-lineskip) var(--parindent);
}

.toolbar-item {
  display: block;
  
  /* kill stock settings */
  margin: 0;
  padding: 0;
}


.toolbar-item-narrow-screen-remove {
  display: none;
}

.toolbar-logo-img {
  /* block and height for images.
   */
  display: block;
  height: 4rem;
}

.toolbar-logo-txt {
  /* inline for text.
   */
  display: inline;
}

/* We leave narrow-screen as mostly default list CSS, it's ok */
.toolbar-menu, .toolbar-submenu {
  list-style: none;
}
.toolbar-submenu {
  /* initially not displayed */
  display: none;
}

.menu-anchor, 
.menu-anchor-open,
.submenu-anchor,
.submenu-anchor-open
{
  display: block;
  /* One lineskip by 1rem is the simplest padding I can think of
   * to act as default. Prime for overiding. Bear in mind that
   * submenu drop is twohalf-lineskip. And that header size may be 
   * controlled by the logo.
   */
  padding: var(--one-lineskip) 1rem;
  cursor: pointer;
}
  
.menu-anchor-open::after,
.submenu-anchor-open::after {
  /* Sign to submenus
   */
  content: "\00a0\00a0\25BE";
}

@media screen and (min-width: 77rem) {

  .toolbar {
    /* must be block in widescreen, or it will not center */
    display: block;
  }

  .toolbar-item, .toolbar-item-narrow-screen-remove {
    display: inline-block;
    vertical-align: middle;
    border-top: 0;
    position: relative;
  }

  .toolbar-submenu {
    position: absolute;
    z-index: 8;
    top: var(--twohalf-lineskip);
    /* margins must go. Pad a little for list elements */
    margin: 0;
    padding: 0.5em;
    padding: var(--vspace-thin) 0;
    background-color: #fff;
  }
  
  .submenu-shift-right {
    left: 100%;
    top: 0;
  }
  
  .submenu-shift-left {
    right: 100%;
    top: 0;
  }
}






