body {
  /* FORTEST: illegal fontsize */
  --fontsize:16pt;
}


/*
 * Basic font size
 * 
 */
/* plain uses a base font size 18pt (web convention 16px==12pt. So 
 * large, but for the web I think fonts should be oversize, Particulary
 * applies with the slew of hi-res screens, which make fonts too small,
 * sizing measure regardless) 
 */
body {
  font-family: "Vollkorn", serif;
  font-family: "times new roman";
}


/* Toolbar */


/* theme */
.menu-anchor, 
.menu-anchor-open,
.submenu-anchor,
.submenu-anchor-open
  {
  padding: 0.5rem 3rem;
  text-decoration: none;
  /* new */
  color: white;
}


/* New, from theme */
.menu-anchor:hover, 
.submenu-anchor:hover, 
.menu-anchor-open:hover, 
.submenu-anchor-open:hover
{
  text-decoration: underline;
}

  
/* new wider width break */
@media screen and (min-width: 77rem) {

  .menu-anchor, .menu-anchor-open {
    padding: var(--onelineskip) 2rem;
  }
  
  .submenu-anchor, .submenu-anchor-open {
    padding: 0.5rem 2rem;
  } 

  .toolbar-submenu {
    background-color:DarkOliveGreen;
    color: #fff;
  }
}
