body {
  /* FORTEST: illegal fontsize */
  --fontsize:16pt;
}


/*
 * Basic font size
 * 
 */
/* plain uses a base font size 18pt (web convention 16px==12pt. So 
 * large, but for the web I think fonts should be oversize, Particulary
 * applies with the slew of hi-res screens, which make fonts too small,
 * sizing measure regardless) 
 */
body {
  font-family: "Vollkorn", serif;
  font-family: "times new roman";
}


/* Toolbar */
/* NOTE: The stock setup is for narrow-screen. See the
 * media selector below for the wide-screen CSS
 */
/* new maybe leave general? */
.toolbar {
  /* TOCONSIDER: must be inline-block, or it spills list and other 
   * margins? 
   */
  display: inline-block;
  
  /* Thread of space at bottom */
  padding-bottom: var(--onethird-lineskip);
}


.toolbar-item {
  display: block;
  
  /* kill stock settings */
  margin: 0;
  padding:0;
  /* border-top: black solid 1px; */
}

/* new. 
 */
.toolbar-logo-img {
  /* block and height for images.
   */
  display: block;
  height: 4rem;
}

.toolbar-logo-txt {
  /* inline for text.
   */
  display: inline;
}

/* We leave narrow-screen as default list CSS, it's ok */
.toolbar-menu, .toolbar-submenu {
  list-style: none;
}

.toolbar-submenu {
  /* adding a thread of space. This separates submenus
   * in narrow-screen
   */
  padding-top: var(--vspace);
  
  /* initially not displayed */
  display: none;
}

.menu-anchor, .menu-anchor-open, .submenu-anchor {
  display: block;
  padding: 0.5rem 3rem;
  text-decoration: none;
  cursor: pointer;
  /* new */
  color: white;
}


/* New, from theme */
.menu-anchor:hover, 
.submenu-anchor:hover, 
.menu-anchor-open:hover {
  text-decoration: underline;
}

.toolbar-item-under-col-width-remove {
  display: none;
}


  
/* new wider width break */
@media screen and (min-width: 77rem) {

  .toolbar {
    /* must be block in widescreen, or it will not center */
    display: block;
    padding: 0 var(--parindent);
  }

  .toolbar-item, .toolbar-item-under-col-width-remove {
    display: inline-block;
    vertical-align: middle;
    border-top: 0;
    position: relative;
  }

  .menu-anchor, .menu-anchor-open {
    padding: var(--onelineskip) 2rem;
  }
  
  .submenu-anchor {
    display: block;
    padding: 0.5rem 2rem;
  } 

  .toolbar-submenu {
    position: absolute;
    z-index: 8;
    top: var(--twohalf-lineskip);
    margin: 0;
    padding: var(--vspace) 0;
    background-color:DarkOliveGreen;
    color: #fff;
    list-style: none;
  }
  
  .menu-anchor-open::after {
    /* Sign to submenus
     * in wide-screen
     */
    content: "\00a0\00a0\25BE";
  }
  
  .submenu-shift-right {
    left: 100%;
    top: 0;
  }
}

 

