html {
  --base-fontsize:17pt;
  --base-lineheight: var(--lh-17pt)
}

/*
 * Basic font size
 * 
 */
/* plain uses a base font size 18pt (web convention 16px==12pt. So 
 * large, but for the web I think fonts should be oversize, Particulary
 * applies with the slew of hi-res screens, which make fonts too small,
 * sizing measure regardless) 
 */
body {
	font-family: "Vollkorn", serif;
	/* Hi-res msize */
	font-size:var(--base-fontsize);
	line-height: var(--base-lineheight);
}

/* untested */
@media screen and (min-height: 640px) {
  /* mid-res screen */
	body {
		font-size:calc(var(--base-fontsize) + 2pt);
	}
}

@media screen and (min-height: 900px) {
  /* hi-res screen */
	body {
		font-size:calc(var(--base-fontsize) + 4pt);
	}
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2) {
  /* retina screen */
	body {
		font-size:var(--base-fontsize + 2pt);
	}
}





/* margins */    
/* Plain has a chunky but efficient margin theme */
.margins-fluid {
    max-width: 77rem;
    margin: 0 auto;
}


.margins-narrower
{
    padding: 2em 2rem;
}

.margins-narrow
{
    padding: 2em 4rem;
}

.margins-normal {
    padding: 2em 6rem;
}

.margins-wide 
{
    padding: 2em 7rem;
}

.margins-wider 
{
    padding: 2em 8rem;
}


.menu-horizontal-responsive ul, 
.menu-horizontal-responsive ol 
{
    list-style: none;
    padding-left:1em;
}
    
/* if wider than paper */
@media screen and (min-width: 77rem) {

  /* contained elements */
  .col-2 {
    width:21.5rem;
  }

  .col-5 {
    width:55rem;
  }

  .layout-horizontal-top > * {
    display: inline-block;
    vertical-align: top;
  }
    
  .layout-horizontal-middle > *,
  .menu-horizontal-responsive > * {
    display: inline-block;
    vertical-align: middle;
  }

  .menu-horizontal-responsive a {
    padding: 2rem; 
    cursor: pointer;   
  }
}


/* if narrower than paper */
@media screen and (max-width: 77rem) {

   /* Margin spacing on vertical stacking, becuse they shrink birders to 
   * make even spacing?
   */
  .menu-horizontal-responsive * {
    display: block;
  }
  /*
  overflow is needed to stop margins spilling. Scrollbars
  shouldn't happen, because of infinite vertical space.
  * NO NEED IF ALL IS BLOCK DISPLAY
  */
  /*
  .menu-horizontal-responsive {
    overflow-y:auto;
  }
  */
  .menu-horizontal-responsive a {
    padding:0.5em 3rem;
  }
  
  .under-paper-width-remove {
    display: none;
  }

}
