*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/*
  DIN A4 standard paper size 
  width: 210mm;
  height: 297mm; 

*/
/*
  DIN A4 printable space approx. 
  For display margin-: 5mm 5mm 5mm 10mm; 
  x-10mm  y -15mm; 
  width: 200mm;
  height: 282mm; 

*/

/* margin: 2cm;*/
@media screen {
    body > article, body > section {
	width: 160mm;
	/* height: 242mm; */

	margin: 0 auto 21px auto;
    }
}

@media print {
    body > article, body > section {
	width: 170mm;
    /*  height: 257mm; */

    }
}

/* basic text size */
/* at 12pt, the series is (9, 10) 11, 12, 14, 17, 20, 25, 30 */
/* 
 * 11 \small
 * 12  
 * 14 \large
 * 17 \Large
 * 20 \huge
 * 25 \Huge
 * 30 
 */


body, h5, h6 {
    font-size: 12pt;
    line-height: 18pt;
}


body{
    font-weight: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;    
}




/* title/book */
h1, h2 {
    font-family: sans;
    font-size:25pt;
        line-height: 36pt;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30pt;
}

h1 {
    margin-top: 60pt;
    margin-bottom: 14pt;
}

header {
    font-size:14pt;
    line-height:25pt;
    text-align: center;
    margin-bottom: 60pt;
}

header > p {
    font-style: italic;
}

header > div {
    margin-top: 24pt;
}

header date, header author {
    display: block;
    text-align: center;
}



/* pad all nums and names from each other and titles 
 * (titles last in list, no padding required) 
 */
 /* is \quad in low titles*/
.num, .name {
    padding-right: 0.5em;
}

/* Part P81 */

h2 {
    margin-top: 96pt;
}

h2 > .title {    
    font-size: 30pt;
        line-height: 48pt;
    margin-top: 24pt;
    display: block;
}


/* beforechapskip = 50pt
 * A base, sometimes modified
 * Modified to an outraageous 120pt for no-page layout.
 * 
 * afterchapskip = 40pt + baseline skip (18pt)
 * No need for the skip, as this is a margin.
 * A base, sometimes modified
 */
 /* \midchapskip: 20pt */
h3 { 
    /*original: margin-top: 50pt; */
    margin-top: 120pt;
    margin-bottom: 40pt;
}


/* alternate title sets */
/* The following are full sets of h3--h6 titles
 * Memman is the default, uncomment the others to try.
 */
/* NB: commented top/bottom margins are originals,
 * replaced by overall settings above
  */
/* \quad is set to 1em */


/* Bringhurst */
/*
  .num, .name {
  display: none;
}

h4, h5, h6 {
margin: 12pt 0;
}

h3, h4, h6 {
font-variant: small-caps;
}

h3, h4, h5, h6 {
text-transform: lowercase;
font-weight: normal;
}

h3 {
font-size: 17pt;
line-height: 25pt;
}

h3 > .title {
margin-top: 20pt;
display: block;
padding: 12pt 0;
border-bottom: 1px solid black;
}

h5 {
font-style: italic;
}
*/



/* Crosshead */
 /* margin-top: 24pt; */
/* margin-bottom: 24pt; */
/*
  h3, h4, h5, h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
  text-align: center;
  }

h3 {
font-weight: bold;
font-size:20pt;
line-height: 30pt;
}

h3 > .name {
display: none;
}

h3 > .num {
margin-right: 1em;
}


h3 > .title {
}


h4 {
font-variant: small-caps;
text-transform: uppercase;
margin: 16pt 0 8pt 0;
}


h5 {
text-transform: lowercase;
font-weight: bold;
margin: 14pt 0 8pt 0;
}


h6 {
font-variant: small-caps;
margin: 0pt 0 4pt 0;
}
*/

/* Dowding */ 
 /* margin-top: 24pt; */
/* margin-bottom: 18pt; */
/*
  h3, h4, h5, h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
  text-align: center;
  }

h4, h5 {
font-variant: small-caps;
text-transform: lowercase;
}

h3, h6 {
font-style: italic;
}

h3 > .name {
font-style: normal;
padding-right: 0.5em;
}

h3 > .num {
font-style: normal;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


h3 > .title {
display: block;
font-size:25pt;
margin-top: 20pt;
line-height: 36pt;
}


h4 {
    text-transform: uppercase;
line-height: 25pt;
margin: 24pt 0 12pt 0;
}

h5 {
    text-transform: lowercase;
    margin: 14pt 0 10pt 0;
}

h6 {
margin: 8pt 0 4pt 0;
}
*/



/* komalike */
  /* margin-top: 24pt; */
/* margin-bottom: 18pt; */
/*
  h3, h4, h5, h6 {
  font-family: sans;
  font-weight: bold;   
  }

h3 {
font-size: 20pt;
line-height: 30pt;
}

h3 > .name {
display: none;
}

h3 > .num {
padding: 0;
margin-right: 0.5em;
}

h3 > .title {
}

h4 {
font-size: 17pt;
line-height: 25pt;
text-indent: 0.5em;
margin: 3.5ex 0 2.3ex 0;

}

h5 {
font-size: 14pt;
line-height: 20pt;
margin: 3.25ex 0 1.5ex 0;
}

h6 {
margin: 3.25ex 0 1.5ex 0;
}
*/

/* memman  */
/* Should be numbers as words */

  h3 {
  font-family: sans;
  font-weight: normal;
  }


h3 {
font-size:30pt;
line-height: 48pt;
margin-top: 120pt;
margin-bottom: 25pt;
}

h3 > .name {
display: none;
}

h3 > .num {
display: block;
font-size: 36pt;
line-height: 64pt;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-style: italic;
text-align: center;
margin-bottom: 25pt;
}


h3 > .title {
display: block;
text-align: right;
padding: 12pt 0;
border-top: 1px solid black;
border-bottom: 1px solid black;
}


h4 {

    font-variant: small-caps;
    font-weight: normal;
    margin: 16pt 0 8pt 0;
    text-indent: 0.5em;
}


h5 {
    font-weight: bold;
    margin: 8pt 0 4pt 0;
}


h6 {
    font-weight: normal;
    font-style: italic;
    margin: 8pt 0 4pt 0;
}


/* tandh  */
/* use roman numerals */
  /* margin-top: 12pt; */
  /* margin-bottom: 24pt; */
/*
  h3 {
  font-size: 25pt;
  font-weight: bold;
  line-height: 36pt;
  }

h3 > .name {
display: none;
}

h3 > .num {
margin-right: 1em;
}


h4 {
font-variant: small-caps;
text-transform: uppercase;
font-weight: normal;
margin: 24pt 0 12pt 0;
text-indent: 0.5em;
}


h5 {
font-size: 17pt;
line-height: 25pt;
text-transform: lowercase;
font-weight: normal;
font-style: italic;
margin: 14pt 0 9pt 0;
}


h6 {
font-weight: bold;
margin: 7pt 0 4pt 0;
}
*/
/* 
 * 11 \small
 * 12  
 * 14 \large
 * 17 \Large
 * 20 \LARGE
 * 25 \huge
 * 30 \Huge
 * 36 \HUGE
 * 48
 */
/*
 * sec
font-size: 17pt;
line-height: 25pt;
* subsec
font-size: 14pt;
line-height: 20pt;
*  subsubsec
* ---
*/
/* wilsondob  */
/* use roman numerals */
  /* margin-top: 24pt; */
/* margin-bottom: 48pt; */
/*
  h3, h4, h5, h6 {
  font-weight: normal;
  }

h3 {
font-size:30pt;
line-height: 48pt;
font-style: italic;
text-align: right;
}

h3 > .name {
display: none;
}

h3 > .num {
margin-right: 1em;
}


h4 {
font-variant: small-caps;
text-transform: uppercase;
margin: 16pt 0 7pt 0;
text-indent: 0.5em;
}


h5 {
font-size: 17pt;
line-height: 25pt;
font-style: italic;
margin: 7pt 0 4pt 0;
}


h6 {
text-transform: lowercase;
font-variant: small-caps;
margin: 7pt 0 4pt 0;
}

*/

pre {
    display: block;
}

code {
    font-family: monospace;
}


/* alternate chapter titles */

/* The following are fancy chapter titles
 * Comment out the h3s in the title set, uncomment a title to try.
 */

/* Bianchi */
/*
h3 {
    font-size: 17pt;
    line-height: 25pt;
    font-style: italic;
    font-family: sans;
    font-weight: normal;
    text-align: center;
}


h3 > .num {
    font-size: 20pt;
}


h3 > .title {
    display: block;
    font-size: 25pt;
    line-height: 60pt;
    font-style: normal;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    margin-top: 25pt;
}
*/

/* Brotherton */
/* margin-top: 50pt; */
/* margin-bottom: 40pt; */
/*
h3 {
    font-size: 25pt;
    line-height: 36pt;
    font-family: sans;
    font-weight: bold;
        font-style: normal;
}

h3 > .title {
    display: block;
    font-size: 30pt;
    line-height: 48pt;
    font-weight: bold;
    margin-top: 20pt;
}
*/

/* Chappel */
/*     margin-top: 12pt; */

/*
h3 {
    font-size: 14pt;
    line-height: 20pt;
    font-weight: normal;
    text-align: center;
}

h3 > .title {
    display: block;
    font-size: 17pt;
    line-height: 50pt;
    font-style: italic;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 20pt;
}
*/


/* Dash */
/*
  h3 {
  font-size: 14pt;
  line-height: 14pt;
  font-weight: normal;
  text-align: center;
  }

h3 > .name{
display: none;
}

h3 > .num:before {
content: '\2015';
margin-right: 0.25em;
} 

h3 > .num:after {
content: '\2015';
margin-left: 0.25em;

} 

h3 > .title {
display: block;
font-size: 17pt;
line-height: 25pt;
margin-top: 14pt;
}
*/

/* Thatcher */
/* annoyimgly tricky:
 * .num:after a block element the size of the line,
 * use margins to centre and space downwards, 
 */
/*
h3 {
    font-size: 12pt;
    line-height: 12pt;
    font-weight: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: center;
}


h3 > .num:after{
    display:block;
    content: '';
    width:0.5in;
    height:1px;
    background-color: black;
    margin: 12pt auto 0 auto;
} 

h3 > .title {
    display: block;
    font-size: 14pt;
    line-height: 14pt;
    text-transform: uppercase;
}
*/


/* Paragraphs */

/** except chapter or section heading? */
p + p {
    text-indent: 2em;
}


/* Figures */

/* sizes */
figure{
    margin: 12pt 3em;
}

figure.wide {
    margin: 12pt 0;
}

figure.narrow {
    margin: 12pt 6em;
}

figure.x-narrow {
    margin: 12pt 9em;
}

figure.xx-narrow {
    margin: 12pt 12em;
}

/* blockquote */
/* P126 */
blockquote {
    margin: 8pt 3em;
}

/* override if in figure */
figure > blockquote {
    margin: 0;
}

/* kill indented paragraphing for blockparagraph */
blockquote.blockparagraph > p {
    text-indent: 0;
    margin-top: 6pt;
}


/* blockquote decoration */
figure > blockquote.framed  {
    border: 1px solid black;
    padding: 6pt 1em;
}

figure > blockquote.ruled  {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 6pt 1em;
}


/* images */

/* settings to ensure image fit to block. I hope. */
figure img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

/* image decoration */
figure > img.framed  {
    border: 1px solid black;
}

figure > img.ruled  {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* figure captions P183 defaults */
figure > figcaption {
    margin-top: 12pt;
    text-align:center;
}


figure > cite {
    display: block;
    font-style: normal;
    text-align:right;
}



/* Lists */

/* P145 P182 p212 for examples */
/* dl not left-indented */
ul, ol {
    margin: 12pt 0 12pt 3em;
}

dl {
    margin: 12pt 0;
}




/* should be runin on 'dt', but non-Mozilla. float will work on
 * for single lines.
 */
dd {
    font-weight: bold;
    margin-right: 0.5em;
    float: left;
}

/* wide-spaced list */
/* margin bottom more reliable for floats.
 * outer list margins hold overall position. 
 */
ol.wide > li, ul.wide > li, dl.wide > dt {
    margin-bottom: 12pt;
}
