
/*
 * Basic machinery of the menus.
 * This file only does the positioning of menu items (and so
 * definitions of 'display').
 * Only one setting affects non-box-positioning. The width of the 
 * elements cascades down. If the width is too narrow, elements inside a
 * menu item will stack. To prevent visual confusion, list items set 
 * white-space: nowrap;.
 * Include wherever the menus are used.
 * Don't change unless you want to replace the system
 * (e.g. implement Javascript actions).
 * This is tricky CSS. Every line has a big effect. 
 * Several settings are designed to cascade down the HTML structure.
 * If you change, be prepared for the display to collapse.
 */ 
/*******************************
 CSS for subsequent menu styling
********************************/
.dmenu {
    white-space: nowrap;
    box-sizing: border-box;
    margin: 0;
}

.dmenu li {
    display: block;
}

.dmenu ul {
    display: none;
    margin:0;
}

.dmenu .expanded > ul {
    display: block;
}

.dmenu-right li, .dmenu-left li {
    position: relative;
}

.dmenu-right ul, .dmenu-left ul {
    display: none;
    position: absolute;
    top:0;
    margin: 0;
    width:100%;
    z-index: 4;
}

.dmenu-left ul {
    right: 100%;
}

.dmenu-right ul {
    left: 100%;
}


.dmenu-horizontal > li {
    display: inline-block;
    /* width:4em; */
}

.dmenu-horizontal > li > ul {
    top:100%;
    left: 0;
    right: 0;
}

.dmenu-css li:hover > ul {
    display: block;
}

/*  JS styles (don't do much) */
.dmenu-js {
  outline: 0;
}
