*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    list-style-position: inside;
}

/*
  DIN A4 standard paper size 
  width: 210mm;
  height: 297mm; 

*/
/*
  DIN A4 printable space approx. 
  For display margin-: 5mm 5mm 5mm 10mm; 
  x-10mm  y -15mm; 
  width: 200mm;
  height: 282mm; 

*/

/* margin: 2cm;*/
@media screen {
    body > article, body > section {
	width: 160mm;
	/* height: 242mm; */

	margin: 0 auto 21px auto;
    }
}

@media print {
    body > article, body > section {
	width: 170mm;
    /*  height: 257mm; */

    }
}

/* basic text size */
/* at 12pt, the series is (9, 10) 11, 12, 14, 17, 20, 25, 30 */
body, h5, h6 {
    font-size: 12pt;
    line-height: 18pt;
}


body{
    font-weight: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;    
}




/*
h3 {
    font-weight: normal;
}
*/

/* title/book */

/* original 30pt */
h1, h2 {
    font-family: sans;
    font-size:25pt;
    font-weight: normal;
    line-height: 36pt;
    text-align: center;
    margin-bottom: 30pt;
}

h1 {
    margin-top: 60pt;
    margin-bottom: 14pt;
}

header {
    font-size:14pt;
   line-height:25pt;
    text-align: center;
        margin-bottom: 60pt;
}

header > p {
    font-style: italic;
}

header > div {
    margin-top: 24pt;
}

header date, header author {
    display: block;
    text-align: center;
}



/* pad all nums and names from each other and titles (titles last in list, no padding required) */
.num, .name {
    padding-right: 0.25em;
}

/* Part P81 */

h2 {
    margin-top: 96pt;
}

h2 > .title {    
    margin-top: 12pt;
    display: block;
}


/* chapter */



/* Default P88 */
/*
  h3 {
  margin-top: 120pt;
  font-size: 30pt;
  line-height: 45pt;
  font-weight: bold;
  margin-bottom: 36pt;
  }



h3 > .name {
font-size: 25pt;
}

h3 > .num {
text-align: center;
font-size: 25pt;
}


h3 > .title {
margin-top: 20pt;
display: block;
}
*/


/* Chappel P88 */
/*
  h3 {
  font-size: 20pt;
  line-height: 50pt;
  font-style: italic;
  text-align: center;
  margin-top: 120pt;
  margin-bottom: 36pt;
  }



h3 > .name {
font-style: normal;
}

h3 > .num {
font-style: normal;
}


h3 > .title {
display: block;
text-align: center;
border-top: 1px solid black;
margin-top: 20pt;

}
*/

/* komalike P88, P319 */
/*
h3 {
    margin-top: 120pt;
    font-size: 17pt;
    line-height: 45pt;
    font-weight: bold;
    font-family: sans;    
    margin-bottom: 6pt;
}

h3 > .name {
    display: none;
}

h3 > .num {
    padding: 0;
}

h3 > .title {
    margin-left: 0.4em;
}
*/

/* alternate titling */
/* memman  */
h3 {
    font-family: sans;
        font-weight: normal;
}

/* Demo2 P88, P389 */
/* chapter */

h3 {
    font-size:20pt;
    line-height: 36pt;
    margin-top: 120pt;
    margin-bottom: 25pt;
}

h3 > .name {
    display: none;
}

h3 > .num {
    display: block;
    font-size: 25pt;
        line-height: 30pt;
     font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-style: italic;
    text-align: center;
    margin-bottom: 25pt;
}


h3 > .title {
    display: block;
    text-align: right;
    padding: 12pt 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* section */
/*  default P102 memman P103*/
h4 {
    font-size: 12pt;
    line-height: 17pt;
    font-variant: small-caps;
    font-weight: normal;
    margin: 20pt 0 12pt 0;
    text-indent: 0.5em;
}


/* subsect */
h5 {
    font-size: 12pt;
    line-height: 17pt;
    font-weight: bold;
        margin: 6pt 0;
}



/**Should be runin, but non-Mozilla. runins 1em P95*/
/* para */
h6 {
    font-size: 12pt;
    line-height: 17pt;
    font-weight: normal;
            font-style: italic;
        margin: 6pt 0;
}





pre {
    display: block;
}

code {
    font-family: monospace;
}



/* Paragraphs */

/** except chapter or section heading? */
p + p, .boxout + p , .wide-boxout + p, .note + p, .warning + p, .tip + p {
    text-indent: 1em;
}



/* Boxouts */

div.boxout, div.wide-boxout, div.note, div.warning, div.tip {
    border: 1px solid black;
}

/* wide boxing */
div.wide-boxout, div.note, div.warning,  div.tip {
    padding: 4pt 4em;
    margin: 4pt 0;
}

/* narrow boxing */
div.boxout {
    padding: 2pt 2em;
    margin: 4pt 3em;
}

div.note::before {
    content: "Note:";
    font-weight: bolder;
}

div.warning::before {
    content: "Warning:";
    font-weight: bolder;
}

div.tip::before {
    content: "Tip:";
    font-weight: bolder;
}

/* create run-in */
div.note > p:first-child, div.warning > p:first-child, div.tip > p:first-child {
    display: inline;
    margin-left: 0.5em;
}



/* figure contents, blockquote, same padding */
figure > div, blockquote > div {
    padding: 6pt 2em;
}



/* blockquote */

/* P126 */
blockquote {
    margin: 12pt 0;
}


/* spacing */
/*
  blockquote, pre, ul, ol, dl {
  margin-top: 12pt;
  }
  */



/* Lists */

/* P145 P182 p212 for examples */
ul, ol, dl {
    padding-left: 2em;
}

/* tips list */
ul.tips{
    list-style-type: square;
}

/* wide-spaced list */
.wide-list, ul.tips {
    padding-left: 0;
    margin-bottom: 12pt;
}

.wide-list > li, .wide-list > dd, ul.tips > li {
    margin-top: 12pt;
}


/* should be runin, but non-Mozilla. float will work with similar text heights P133 */
dd{
    float: left;
    font-weight: bold;
    margin-right: 0.5em;
}



/* Figures */

figure{
    margin: 18px 0;
}

figure > .text {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:450px;
}


/* captions P183 defaults */
figcaption {
    margin-top: 6pt;
    text-align:center;
}

figcaption > .name:after {
    content: ": ";
}



